@charset "utf-8";
/* scale */
.cell_white {
    position:relative;
	background-color:#fff;
    z-index:0;
    width:7.0em;
	text-align:center;
}
.cell_grey {
    position:relative;
	background-color:#eee;
    z-index:0;
    width:7.0em;
	text-align:center;
}
.caption_cell_white {
	text-align:center;
    height:1em;
}
.caption_cell_grey {
	background-color:#eee;
	text-align:center;
    height:1em;
}
.right {
    text-align:right;
	padding-right:0.5em;
}
.left {
    text-align:left;
    padding-left:0.5em;
} 
.caption {
    position:relative;
    font-size:1.8em;
	width:11.1em;
    /* font-weight:bold; */
    z-index:1;
    margin-left:0.55em;
    margin-right:0.55em;
    /* margin-bottom:20px; */
}
.questionrow{
    height:6em;
}
.captionrow{
    height:4em;    
}
.addcaption {
    }
.addcaption td{
    padding-top:7em;
}
.extracaptionrow{
    height:3em;    
}
.sc_table_spacer {
	/* width:100px; */
	background:#fff;
}
.spacer_left_limit{
    width:10em;
}
.sc_table_question_spacer {
	width:70em;
}
.weiter {
	width: 12.5em;
    height: 2.5em;
	position: absolute;
	right: 35em;
	bottom: 1.5em;
    font-size:2.0em;
}
.weiter_position {
	position: relative;
	width: 10em;
}
/* .tableimg { */
/*     height:200px; */
/* } */
.dark1 {
	background:#ccc;	
}
.dark2 {
	background:#ddd;	
}
/* .table_info tr:nth-of-type(odd) { */
.dark3 {
	background:#eee;	
}
/* .table_info tr:nth-of-type(even) { */
.dark4 {
	background:#ddd;	
}
.table_attribute {
	/* font-family: Arial, Helvetica, sans-serif; */
	font-size: 2.2em;
	font-weight: bold;	
	vertical-align:middle;
	text-align: center;
	width:13em;
	height: 3em;
	background:#bbb;	
}
.table_attribute_light {
	background:#ccc;	
}
.table_level {
	/* font-family: Arial, Helvetica, sans-serif; */
	font-size: 2.4em;
	vertical-align:middle;
	/* padding-left:20px; */
	text-align: center;
	/* width:200px; */
	height: 3em;
}
.level_dark1 {
    background:#d8d8d8;
}
.level_dark2 {
    background:#e8e8e8;
}
.rg { }
.rg label{
    color:#000;
/*    border-radius:0px; not supported in ff3.6  */
	display:block;
    padding:0.3em;
    margin:0px;
    text-align:left;
    cursor:pointer;
}
.rg_question_text {
	font-size: 2.4em;
	font-weight: normal;
	color: #000;
	text-align: left;
	width: 25em;
	position: relative;
	padding-right: 0.833em;
	padding-left: 1.25em;
	padding-top: 1.5em;
	padding-bottom: 0.41em;
	top: 0px;
	margin: 0px;
}
.rg_text_line_no_lite {
	color: #000;
	background-color: #eee;
	width:30em;
	font-size: 2em;
}
.rg_text_line_hi_lite {
	color: #000;
	background-color: #f8f8f8;
	width:30em;
	font-size: 2em;
}
.rg_inner_container {
	width:60em;
	position:relative;
	left:4em;
}
.pl_exp_table {
    width:70em;
    border:0px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

/* .rg_container { */
/* 	line-height: 30px; */
/* 	position: absolute; */
/* 	width: 300px; */
/* 	left: 50px; */
/* } */
.thankyou {
    font-size: 3.8em;
    text-align: center;
    vertical-align:middle;
    color:#666;
}
label {
    color:#000;
    /* border-radius:4px;    */
    padding:2.4em;
    margin:0px;
    text-align:center;
    cursor:pointer;
}
label:hover {
	color:#000;
    background:#ddf;   
}
label:active {
	background:#ccf;
}

.highlight {
	background:#bbf;
}
.highlight:hover {
	background:#bbf;
}
.big_header {
	/* font-family: Arial, Helvetica, sans-serif; */
	font-size: 3.6em;
	font-weight: bold;
	color: #000;
	text-align: center;
	width: 100%;
	margin: 0px auto;
	clear: both;
}
.general_text {
	/* font-family: Arial, Helvetica, sans-serif; */
	font-size: 2.4em;
	font-weight: normal;
	color: #000;
	text-align: center;
	margin: 0px auto;
}
.welcome_text{
	font-size: 2.4em;
	font-weight: normal;
	color: #000;
	text-align: left;
	margin: 0px auto;  
}
.welcome_bold {
    padding-top:1em;
    padding-bottom:1em;
    font-weight:bold;
    font-size:2.8em;
}
.welcome_wrapper {
    padding:15em;
}
.question_title{
	/* font-size: 28px; */
	font-size: 2.8em;
	font-weight: normal;
	color: #000;
	text-align: left;
	padding-top: 1.6em; /* 45px */
	padding-bottom: 0.9em;
	padding-left:2.5em;
	padding-right:2.5em;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.explanation_title{
	font-size: 3.2em;
	font-weight: bold;
	color: #000;
	text-align: left;
	padding-top: 1.4em;
	padding-bottom: 0.8em;
	padding-left:3.75em;
}
.exp_big_text {
    font-size: 2.8em;
	font-weight: normal;
    padding-right:10em;
    padding-left:10em;
    padding-top:5em;
	color: #000;
	text-align: justify;
    text-indent:4em;
    line-height:300%;
}
.exp_img_spacer {
    margin-left:12em;
}
.exp_inputTable_spacer {
    margin-left:20em;
}
.exp_inputTable {
    width:60em;
}
.exp_img_sizer {
    max-height:20em;
    min-height:20em;
}
.exp_select_field {
    width:30em;
    height:1.75em;
    font-size:2em;
    font-weight:normal;
}
.exp_room_img {
    float:left;
    height:4.3em;
    margin-right:0.71em;
    padding-top:0.71em;
}
.full_page_text {
	font-size: 2.8em;
	font-weight: normal;
    padding-left:7em;
    padding-right:7em;
    padding-bottom:1.43em;
	color: #000;
    text-align: left;
	margin: 0px auto;
}
.legacy_full_page_text {
	font-size: 28px;
	font-weight: normal;
    padding:50px;
    padding-left:100px;
    padding-right:100px;
	color: #000;
	text-align: left;
	margin: 0px auto;
}
.demo_select_field {
    width:30em;
    height:1.75em;
    font-size:2em;
    font-weight:normal;
}
.spacer {
}

.sc_question{
	/* font-family: Arial, Helvetica, sans-serif; */
	font-size: 2.4em;
	font-weight: normal;
	color: #000;
	text-align: left;
	position: relative;
	padding-right: 0.833em;
	padding-left: 1.0714em;
	padding-top: 0px;
	top: 0px;
	margin: 0px;
}

.sc_table_legend {
	/* font-family: "Arial Black", Gadget, sans-serif; */
	font-size: 2.8em;
	color: #777;
	/* text-align: center; */
    margin-left:0.714em;
    margin-right:0.714em;
    margin-bottom:0.357em;
}

#errorField{
    /* crucial for centered bottom abs positioning   */
    bottom: 3em;
    width: 26.8em;
  	margin-right: auto;
	margin-left: auto;
    position:absolute;
    /* non crucial */
    /* font-family:"Droid Sans Mono", Courier, monospace; */
    background:#eee;
	text-align: center;
	font-size: 2.8em;
    font-weight: bold;
    color:#000;
    /*color:#e22;*/
}
/* wrapped in fatErrorWrapper */
.mainError{
    /* crucial for centered bottom abs positioning   */
    bottom: 3em;
    width: 26.8em;
  	margin-right: auto;
	margin-left: auto;
    position:absolute;
    /* non crucial */
    /* font-family:"Droid Sans Mono", Courier, monospace; */
    /* background:#fefefe; */
	text-align: center;
	font-size: 2.8em;
    font-weight: bold;
    color:#000;
    /*color:#e22;*/
}
.fatErrorWrapper {
    margin-left:auto;
    margin-right:auto;
    width:70em;
}


.invalid{
    /* font-family:"Droid Sans Mono", Courier, monospace; */
	/* text-align: center; */
	font-size: 1.6em;
    /* color:#e44; */
}
.underlined {
    text-decoration:underline;
}

/* Defines the columns overall width! Dirty */
.conjoint_select {
    font-size:2em;
    height:1.5em;
    font-weight:normal;
    width:6em;
}

/* ######################################################################## */
 

/* XXX absolute positioning! error prone! */ 
.slider {
    background:url(../img/slider-conjoint.png) 0px 0px no-repeat;
    width:264px;
    height:35px;
    cursor:pointer;
}
.slider-1280 {
    background:url(../img/slider-conjoint-1280.png) 0px 0px;
    width:198px;
    height:26px;
    cursor:pointer;
}
.slider_value_display {
    font-size:2.4em;
    }

/* ######################################################################## */
 

.dctdcon {
    /* width:200px; */
    font-size:2em;
    height:2.5em;
    /* font-weight:bold; */
    background:#f8f8f8;
    text-align:center;
}
.slider_td {
    height:5em;
    background:#f8f8f8;
    text-align:center;
    vertical-align:top;
}
.spacercon {
    width:5em;
    height:5em;
}
.attr_spacer_con {
    width:13.3em;
    height:5em;
}
.tr_spacer_con {
    height:5em;
}
.attrcon {
    background:#ddd;
}
.optioncon {
    background:#eee;
}

.ie_hack_button{
    width:0px;
    height:0px;
    display:none;
}
