<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
            #debug{
                font-family:"Droid Sans Mono", Courier, monospace;
                font-size:16px;
                background:#383838;
                color:#bbf;
                {# position:static; #}
                z-index:+10;
        }
    </style>
{% load staticfiles %}
    <script src="{% static "js/jquery-1.9.1.min.js" %}" > </script>
    <script src="{% static "js/jquery.validate.min.js" %}" > </script>
    {# <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script> #}

<title>{{title}}</title>
{% load i18n %}
{# {% load static from staticfiles %} #}
<link href="{% static "css/forms.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/strings.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/layout.css" %}" rel="stylesheet" type="text/css" />

</head>
<body id="body_black">
    <div id="center_content">
        <div id="debug">
            {# DEBUG DATA:<br/> #}
            {# {{ debugdata|linebreaksbr }} #}
            <script>
                {% if not DEBUG %}
                    var console = {};
                    console.log = function(){};
                {% endif %} 
            </script>
            </div>
            <div id="target_screen_layout">

{# <div id="divTest1"></div> #}
{# <script type="text/javascript"> #}
{# $("#divTest1").text("Hello, world!"); #}
{# </script> #}

            {# ######################################################################## #}
            {% block body %}
            {% endblock %}
            {{ text }}
            {% if temp %}
                <form action="{{ temp.destination }}" method="post" >
                {% csrf_token %}    
                    <input type="submit" value="TEMP CONTINUE" class="weiter" >
                </form>
                {% endif %}
            {# {{ debugdata }} #}
            {# ######################################################################## #}

            </div>
        </div>
</body>
</html>
