<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{# <html> #}
{# <html xmlns="http://www.w3.org/1999/xhtml"> #}
<head>
    {# <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> #}
    <style>
            #debug{
                font-family:"Droid Sans Mono", Courier, monospace;
                font-size:16px;
                background:#383838;
                color:#bbf;
                {# position:static; #}
                z-index:+10;
        }
    </style>
{% load staticfiles %}
    <script src="{% static "js/jquery-1.9.1.min.js" %}" > </script>
    <script src="{% static "js/jquery.validate.min.js" %}" > </script>
    <script src="{% static "js/modernizr-2.6.2.min.js" %}" > </script>

<title>{{title}}</title>
{% load i18n %}
{# {% load static from staticfiles %} #}
<link href="{% static "css/forms.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/strings.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/layout.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/normalize.css" %}" rel="stylesheet" type="text/css" />

{# <!-- HTML5 Boilerplate stuff, see up, other meta--> #}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="">
<meta name="viewport" content="width=device-width">

</head>
<body id="body_black">
    <div id="center_content">
        <div id="debug">
        {# DEBUG DATA:<br/> #}
        {# {{ debugdata|linebreaksbr }} #}
        <script>
            window.log=function(){log.history=log.history||[];log.history.push(arguments);if(this.console){console.log(Array.prototype.slice.call(arguments))}};
                {% if not DEBUG %}
                    {# for production to empty all console calls! #}
                    {# var console = {}; #}
                    {# console.log = function(){}; #}
                {% endif %} 
            </script>
            </div>
            <div id="target_screen_layout">

{# <div id="divTest1"></div> #}
{# <script type="text/javascript"> #}
{# $("#divTest1").text("Hello, world!"); #}
{# </script> #}

        {# ######################################################################## #}
            {% block body %}
            {% endblock %}
            {{ text }}
            {% if temp %}
                <form action="{{ temp.destination }}" method="post" >
                {% csrf_token %}    
                    <input type="submit" value="TEMP CONTINUE" class="weiter" >
                </form>
                {% endif %}
            {# {{ debugdata }} #}
            {# ######################################################################## #}

            </div>
        </div>
</body>
</html>
