{% extends "eyevacs/0preview1650.html" %}
{% block body %}
<!-- ################################################################# -->

<div class="spacer" style="height:200px"></div>
<div style="margin:0 auto">
<p class="big_header">Herzlich  Willkommen zum Experiment!<br />
</p>
<br />
<br />
<p class="general_text">Dieses  Experiment ist Teil meiner Masterarbeit, die ich am Lehrstuhl für BWL, insb.  Marketing schreibe.</p>
<br />
<p class="general_text">Alle von dir gemachten Angaben werden streng vertraulich behandelt und nicht an  Dritte weitergegeben.</p>
<br />

<p class="general_text">Das  Experiment wird voraussichtlich 30 Minuten dauern.</p>
<br />
<br />
<p class="general_text">Herzlichen Dank für deine Teilnahme und viel Spaß!</p>
<p class="general_text">&nbsp;</p>
<form action="{{ destination }}" method="post" >
{% csrf_token %}
  <input name="frontpage_weiter" type="submit" class="weiter" id="frontpage_weiter" value="Weiter" />
</form>
</div>

<!-- ################################################################# -->
{% endblock %}
