{% extends 'eyevacs/0preview1650.html' %}
{% block body %}
{% load i18n %}
<!-- ################################################################# -->

<!-- <div class="spacer" style="height:200px"></div> -->
<div style="margin:0 auto">
    <div class="spacer" style="height:200px"></div>

{# <p class="big_header">Welcome!<br /> #}
</p>
<br />
<br />
<p class="general_text" style="text-align:left; display:block; width:1200px" >An Invitation to participate in a research project conducted by the Department of Marketing, Monash University <br/>
<br/>
<br/>
<b>Dear Sir/Madam, </b><br/>
<br/>
The Department of marketing is conducting research on marketing communications. To this end, we are seeking people to participate in this project. The project is designed to gain an understanding of buying preferences and how marketing communications moderate purchase preference.<br/>
<br/>
We are conducting research on vacation packages. This research is not intended to benefit any supplier of vacation packages or airline nor is it intended for any specific commercial gain. All responses are anonymous and we appreciate your time taken to complete this survey.<br/>
<br/>
This research will be conducted in the Monash Behavioural Laboratory. Some respondents will be asked to have a portion of the survey conducted through eye tracking machines.<br/>
<br/>
[...]
</p>
<p class="general_text" style="display:block; width:900px"><br />
<br />
<form action="{{ destination }}" method="post">
{% csrf_token %}
<input name="frontpage_weiter" type="submit" class="weiter" value={{bt_label}} />
</form>

</div>

<!-- ################################################################# -->
{% endblock %}
