<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{# <html> #}
{# <html xmlns="http://www.w3.org/1999/xhtml"> #}
<head>
    {# <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> #}
    <style>
            #debug{
                font-family:"Droid Sans Mono", Courier, monospace;
                font-size:16px;
                background:#383838;
                color:#bbf;
                z-index:+10;
        }
    </style>
{% load staticfiles %}
    <script src="{% static "js/jquery-1.9.1.min.js" %}" > </script>
    <script src="{% static "js/jquery.validate.min.js" %}" > </script>
    <script src="{% static "js/modernizr-2.6.2.min.js" %}" > </script>

<title>EyeVacs</title>
{% load i18n %}
<link href="{% static "css/layout.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/normalize.css" %}" rel="stylesheet" type="text/css" />

{# <!-- HTML5 Boilerplate stuff, see up, other meta--> #}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="">
<meta name="viewport" content="width=device-width">

</head>
<body id="body_black">
    <div id="center_content">
        <div id="debug">
        <script>
            window.log=function(){log.history=log.history||[];log.history.push(arguments);if(this.console){console.log(Array.prototype.slice.call(arguments))}};
            </script>
            </div>
            <div id="target_screen_layout_scrollable">




{# ############################################################## #}
<div style="padding:150px">
<p class="welcome_text">
An Invitation to participate in a research project conducted by the Department of Marketing, Monash University</p><br/>
<p class="welcome_text" style="padding-top:30px; padding-bottom:30px; font-weight:bold; font-size:28px">Dear Sir/Madam,</p><br/>
<p class="welcome_text">
The Department of marketing is conducting research on marketing communications. To this end, we are seeking people to participate in this project. The project is designed to gain an understanding of buying preferences and how marketing communications moderate purchase preference.<br/><br/>
We are conducting research on vacation packages. This research is not intended to benefit any supplier of vacation packages or airline nor is it intended for any specific commercial gain. All responses are anonymous and we appreciate your time taken to complete this survey.<br/><br/>
This research will be conducted in the Monash Behavioural Laboratory. Some respondents will be asked to have a portion of the survey conducted through eye tracking machines.<br/>
<br/>
The type of questions you will be asked<br/>
</p>
<ul class="welcome_text">
<li>You will be asked to answer some questions about your purchase experience and knowledge regarding vacation packages, vacation package preferences and general demographics.</li>
<li>You will also be asked to choose from sets of vacation packages which offer you would most likely purchase.
</li>
</ul>
<br/>
<p class="welcome_text">
What will be required from you<br/>
</p>
<ul class="welcome_text">
    <li> Participation in an online survey.</li>
    <li> The survey will take no more than 30 minutes. </li>
    <li> Participation is completely voluntary. </li>
    <li> Responses are strictly confidential and answers cannot be linked to individuals.</li>
</ul>
<br/>
<p class="welcome_text">
	What happens to this information?<br/>
    </p>
<ul class="welcome_text">
    <li>The results of this study will help understand how consumers make decisions about complex products such as vacation packages.</li>
    <li>Only the combined (i.e. aggregate) results of the research will be reported.</li>
    <li>Only the researchers will have access to the original data (i.e. survey data), which will be stored for five years, as prescribed by Monash University regulations. </li>
    </ul >
	<br/>
<p class="welcome_text">
	If you wish to receive a summary of our findings when they are available, or if you have any other query regarding this research, please contact the researchers Dr Martin Meissner <b>email</b> <u>martin.meissner@monash.edu</u> or <b>telephone</b> <u>03 9903 1456</u> or Professor Harmen Oppewal on <u>harmen.oppewal@monash.edu</u>,<b> telephone</b> <u>03 9903 2360</u> <br/>
	<br/>
Should you have any complaint concerning the manner in which this research is conducted, please do not hesitate to contact the Monash University Human Research Ethics Committee (MUHREC) at the following address referring to project number XXXXXX. <br/>
</p>
<div>
<table style="border:1px solid black; padding:20px; text-align:left; width:1000px; margin: auto; margin-top:50px;" >
<tr><td class="welcome_text" style="padding:30px">
The Secretary<br/>
Monash University Human Research Ethics Committee (MUHREC)<br/>
Building 3D<br/>
Research Grants & Ethics Branch<br/>
Monash University VIC 3800<br/>
Tel: +61 3 9905 2052	  Fax: +61 3 9905 1420    Email:  muhrec@monash.edu<br/>
</td></tr>
</table>
</div>
<br/>
<br/>
<p class="welcome_text">
	Thank you,<br/>
    <br/>
	Dr Martin Meissner<br/>
	Prof Harmen Oppewal <br/>
</p>
</div>

<form action="{{ destination }}" method="post">
{% csrf_token %}
<input name="frontpage_weiter" type="submit" class="weiter" value={{bt_label}} />
</form>

{# ############################################################## #}
            {{ text }}
            {% if temp %}
                <form action="{{ temp.destination }}" method="post" >
                {% csrf_token %}    
                    <input type="submit" value="TEMP CONTINUE" class="weiter" >
                </form>
                {% endif %}
            {# {{ debugdata }} #}
            {# ############################################################ #}

            </div>
        </div>
</body>
</html>
