{% extends 'eyevacs/0preview1650.html' %}
{% load staticfiles %}
{% block body %}
{% load i18n %}    
<!-- ################################################################# -->

    {% if starter %}
    <div class="question_title" style="padding-top:15px;">Thank you for your choices, now indicate how likely it would be that you would choose the following alternatives from 0 (definitely reject) to 10 (definitely accept)?</div>
    {% else %}
    <div class="question_title" style="padding-top:15px;">Indicate how likely it would be that you would choose the following alternative from 0 (definitely reject) to 10 (definitely accept)?</div>
    {% endif %}

<form action="{{ destination }}" method="post" >
{% csrf_token %}

<div style="padding-left:200px; padding-top:0px;" >
<table>
{# # CAPTIONS ############################################################# #}
 
    <tr>
    <td class="dctdcon attrcon" style="background:#fff;">
    {# spacer  #}
    </td> 
    <td class="spacercon"></td>
    <td class="dctdcon attrcon">
    Option A
    </td> <td class="spacercon"></td>
    <td class="dctdcon attrcon"> 
    Option B
    </td> <td class="spacercon"></td>
    <td class="dctdcon attrcon"> 
    Option C
    </td> <td class="spacercon"></td>
    <td class="dctdcon attrcon"> 
    Option D
    </td> <td class="spacercon"></td>

    </tr>
    {# END # CAPTIONS ######################################################## #}

    <tr class="tr_spacer_con">
        </tr>
    <tr>
        <td class="dctdcon attrcon">food quality</td><td class="spacercon"></td> 
        {% for key, conjoint in conjointtasks.items %}
        <td class="dctdcon optioncon">{{ conjoint.food }}</td><td class="spacercon"></td>           
        {% endfor %} 
    </tr>   
    <tr class="tr_spacer_con">
        </tr>
    <tr>
        <td class="dctdcon attrcon">customer recommending</td><td class="spacercon"></td> 
        {% for key, conjoint in conjointtasks.items %}
        <td class="dctdcon optioncon">{{ conjoint.recommending}}</td><td class="spacercon"></td>           
        {% endfor %} 
    </tr>   
    <tr class="tr_spacer_con">
        </tr>
    <tr>
        <td class="dctdcon attrcon">distance to CBD</td><td class="spacercon"></td> 
        {% for key, conjoint in conjointtasks.items %}
        <td class="dctdcon optioncon">{{ conjoint.distance}}</td><td class="spacercon"></td>           
        {% endfor %} 
    </tr>   
    <tr class="tr_spacer_con">
        </tr>
    <tr>
        <td class="dctdcon attrcon">sea view</td><td class="spacercon"></td> 
        {% for key, conjoint in conjointtasks.items %}
        <td class="dctdcon optioncon">{{ conjoint.view}}</td><td class="spacercon"></td>           
        {% endfor %} 
    </tr>   
    <tr class="tr_spacer_con">
        </tr>
    <tr>
        <td class="dctdcon attrcon">price per person</td><td class="spacercon"></td> 
        {% for key, conjoint in conjointtasks.items %}
        <td class="dctdcon optioncon">{{ conjoint.price}}</td><td class="spacercon"></td>           
        {% endfor %} 
    </tr>   
    <tr class="tr_spacer_con">
        </tr>
    <tr>
        <td class="dctdcon attrcon">room category</td><td class="spacercon"></td> 
        {% for key, conjoint in conjointtasks.items %}
        <td class="dctdcon optioncon">{{ conjoint.room }}</td><td class="spacercon"></td>           
        {% endfor %} 
    </tr>   

    <tr style="height:80px;"> </tr>
{# ######################################################################## #}
    <tr>
    <td class="dctdcon attrcon" style="background:#fff;">
    {# spacer  #}
    </td> 
    <td class="spacercon"></td>
    {% for key, conjoint in conjointtasks.items %}
    <td class="dctdcon" style="font-size:16px;background:#fff;"> 
    <select name="select_con{{ conjoint.id }}" >
    <option value="">--select--</option>
    <option value="0">0 (definately reject)</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="1">10 (definately accept)</option>
    </select>
    </td> 
    <td class="spacercon"></td>

    {% endfor %} 
    </tr>
</table>
</div>
{# ######################################################################## #}

{# <div style="height:150px"> </div> #}

   <input type="submit" class="weiter" name="{{ conjoint.id }}" value="{{ bt_label }}" >
{# 2 optionen zur auswahl eines angebots: #}
{# 1. 'buchen! button' (meine preference) #}
{# 2. javascript on click auf jede einzelne zelle... radio button der signalisiert oder gleich die farbe der ganzen row aendern. #}
{#  #}
{# kann bei 1. ein 'hover' einbauen, column wechselt farbe #}

</form>

{# ######################################################################## #}
{# VALIDATE ALL REQUIRED INPUTS  #}
<div style="margin-left:auto; margin-right:auto;width:700px;">
<div id="fatError" style=""></div>

{% if validation %}
<script>
    $(this).ready(function(){
        var thisform = $('form');
        window.log('validation is running...');
        var validator = thisform.validate({
            {# turn off debug to truly submit! #}
            debug: true,
            rules: {
                {% for key,conjoint in conjointtasks.items %}
                    select_con{{ conjoint.id }}: "required",
                {% endfor %}
                },
            {# empty function places the usually obligatory error messages into nowhere #}
            errorPlacement: function(error, element) {},
            showErrors: function(errorMap, errorList) {
                $("#fatError").addClass("mainError");
                $("#fatError").text("You have left "
                                               + this.numberOfInvalids() 
                                               + " questions unanswered!");
                var errors = validator.numberOfInvalids();
                if (!errors) {
                    window.log('hiding   ..  ');
                    $("#fatError").hide();
                };
            },
            errorClass: "invalid",
            {# debug only #}
            submitHandler: function(thisform) { 
                // do other stuff for a valid form
                thisform.submit();
            }
        });
    });
  </script>
{% endif %}
{# END # VALIDATE ALL REQUIRED INPUTS ##################################### #}
{% endblock %}
