{% extends 'eyevacs/0preview1650.html' %}
{% load staticfiles %}
{% block body %}
{% load i18n %}    
{% get_current_language as LANG %}
<!-- ################################################################# -->

    {% if starter %}
    <div class="question_title" style="padding-top:15px;">{% trans "Thank you for your choices, now indicate how likely it would be that you would choose the following alternatives from 0 (definitely reject) to 10 (definitely accept)?" %}</div>
    {% else %}
    <div class="question_title" style="padding-top:15px;">{% trans "Indicate how likely it would be that you would choose the following alternative from 0 (definitely reject) to 10 (definitely accept)?" %}</div>
    {% endif %}

<form action="{{ destination }}" method="post" >
{% csrf_token %}

<div style="padding-left:100px; padding-top:0px;" >
<table>
{# # CAPTIONS ############################################################# #}
 
    <tr>
    <td class="dctdcon attrcon" style="background:#fff;">
    {# spacer  #}
    </td> 
    <td class="spacercon"></td>
    <td class="dctdcon attrcon">{% trans "Option A" %}</td>
    <td class="spacercon"></td>
    <td class="dctdcon attrcon">{% trans "Option B" %}</td>
    <td class="spacercon"></td>
    <td class="dctdcon attrcon">{% trans "Option C" %}</td>
    <td class="spacercon"></td>
    <td class="dctdcon attrcon">{% trans "Option D" %}</td>
    <td class="spacercon"></td>

    </tr>
    {# END # CAPTIONS ######################################################## #}

    <tr class="tr_spacer_con">
        </tr>
    <tr>
        <td class="dctdcon attrcon">{% trans "food quality" %}</td><td class="spacercon"></td> 
        {% for key, conjoint in conjointtasks.items %}
        <td class="dctdcon optioncon">{{ conjoint.food }}</td><td class="spacercon"></td>           
        {% endfor %} 
    </tr>   
    <tr class="tr_spacer_con">
        </tr>
    <tr>
        <td class="dctdcon attrcon">{% trans "customers recommending" %}</td><td class="spacercon"></td> 
        {% for key, conjoint in conjointtasks.items %}
        <td class="dctdcon optioncon">{{ conjoint.recommending}}</td><td class="spacercon"></td>           
        {% endfor %} 
    </tr>   
    <tr class="tr_spacer_con">
        </tr>
    <tr>
        <td class="dctdcon attrcon">{% trans "distance to CBD" %}</td><td class="spacercon"></td> 
        {% for key, conjoint in conjointtasks.items %}
        <td class="dctdcon optioncon">{{ conjoint.distance}}</td><td class="spacercon"></td>           
        {% endfor %} 
    </tr>   
    <tr class="tr_spacer_con">
        </tr>
    <tr>
        <td class="dctdcon attrcon">{% trans "sea view" %}</td><td class="spacercon"></td> 
        {% for key, conjoint in conjointtasks.items %}
        <td class="dctdcon optioncon">{{ conjoint.view}}</td><td class="spacercon"></td>           
        {% endfor %} 
    </tr>   
    <tr class="tr_spacer_con">
        </tr>
    <tr>
        <td class="dctdcon attrcon">{% trans "price per person" %}</td><td class="spacercon"></td> 
        {% for key, conjoint in conjointtasks.items %}
        <td class="dctdcon optioncon">{{ conjoint.price}}</td><td class="spacercon"></td>           
        {% endfor %} 
    </tr>   
    <tr class="tr_spacer_con">
        </tr>
    <tr>
        <td class="dctdcon attrcon">{% trans "room category" %}</td><td class="spacercon"></td> 
        {% for key, conjoint in conjointtasks.items %}
        <td class="dctdcon optioncon">{{ conjoint.room }}</td><td class="spacercon"></td>           
        {% endfor %} 
    </tr>   

    <tr style="height:80px;"></tr>
{# ######################################################################## #}
    <tr>
    <td class="dctdcon attrcon" style="background:#fff;">
    {# spacer  #}
    </td> 
    <td class="spacercon"></td>
    {% for key, conjoint in conjointtasks.items %}
{# name="select_con{{ conjoint.id }}" #}
    <td class="slider_td" style="background:#fff;"> 
{# ######################################################################## #}
{% if request.session.resolution == "1650x1050" %}
    <div name="select_con{{ conjoint.id }}" class="slider"> </div>
{% elif request.session.resolution == "1280x1024" %}
    <div name="select_con{{ conjoint.id }}" class="slider-1280"> </div>
{% endif %}

    <p name="select_con{{ conjoint.id }}" class="slider_value_display"></p>
    <input type="hidden" name="select_con{{ conjoint.id }}" value="" />

{# ######################################################################## #}

    </td> 
    <td class="spacercon"></td>

    {% endfor %} 

    </tr>
</table>
</div>
{# ######################################################################## #}

<input type="submit" class="weiter" name="{{ conjoint.id }}" value="{{ bt_label }}" />

</form>

{# ######################################################################## #}
{# VALIDATE ALL REQUIRED INPUTS  #}
<div class="fatErrorWrapper">
<div id="fatError" style=""></div>

{% if request.session.validation %}
<script>
    $(this).ready(function(){
        var thisform = $('form');
        window.log('validation is running...');
        var validator = thisform.validate({
            {# turn off debug to truly submit! #}
            {# hidden, invisible inputs are ignored by default...  #}
            {# revert this behaviour with: #}
            ignore: '',
            debug: true,
            rules: {
                {% for key,conjoint in conjointtasks.items %}
                    {% if not forloop.last %}
                        select_con{{ conjoint.id }}: "required",
                    {% else %}
                        select_con{{ conjoint.id }}: "required"
                    {% endif %}
                {% endfor %}
                },
            {# empty function places the usually obligatory error messages into nowhere #}
            errorPlacement: function(error, element) {},
            showErrors: function(errorMap, errorList) {
                var errors = validator.numberOfInvalids();
                $("#fatError").addClass("mainError");
                {% if LANG == "en" %}
                var errorText = "You have left "+errors+" questions unanswered!";
                {% elif LANG == "de" %}
                var errorText = "Du hast "+errors+" Fragen noch nicht beantwortet!";
                {% endif %}
                $("#fatError").text(errorText);
                if (!errors) {
                    window.log('hiding   ..  ');
                    $("#fatError").hide();
                };
                window.errorActive = true;
            },
            errorClass: "invalid",
            {# debug only #}
            submitHandler: function(thisform) { 
                // do other stuff for a valid form
                thisform.submit();
            }
        });
    });
  </script>
{% endif %}
{# END # VALIDATE ALL REQUIRED INPUTS ##################################### #}

{# SLIDER SCRIPT EVENTS ################################################### #}
  
    <script>
        $(this).ready(function(){

                var leftButtonDown = false;
                $(document).mousedown(function(e){
                    if(e.which === 1) leftButtonDown = true;
                });
                $(document).mouseup(function(e){
                    if(e.which === 1) leftButtonDown = false;
                });

                $(".slider").mousemove(function(e){
                    if (leftButtonDown){ //for 'drag' behaviour
                        var knob_width = 24; //x-offset of dragging-knob in px
                        var offset_Y = 35; //height per frame of sprite
                        updateActiveState(e, this, knob_width, offset_Y)
                    };
                });
                $(".slider").mousedown(function(e){
                        var knob_width = 24;
                        var offset_Y = 35;
                        updateActiveState(e, this, knob_width, offset_Y)
                        if (window.errorActive){
                            var thisform = $('form');
                            thisform.valid()
                        };
                });
                $(".slider-1280").mousemove(function(e){
                    if (leftButtonDown){
                        var knob_width = 18;
                        var offset_Y = 26;
                        updateActiveState(e, this, knob_width, offset_Y)
                    };
                });
                $(".slider-1280").mousedown(function(e){
                        var knob_width = 18;
                        var offset_Y = 26;
                        updateActiveState(e, this, knob_width, offset_Y)
                        if (window.errorActive){
                            var thisform = $('form');
                            thisform.valid()
                        };
                });
                
                var updateActiveState = function(e,slider, knob_width, offY){
                    //for relative position to DOCUMENT with offset()
                    var sliderPos = $(slider).offset();
                    var x = e.pageX - sliderPos.left;
                    var y = e.pageY - sliderPos.top;
                    {# window.log(e.pageX, e.pageY); #}
                    {# window.log(slider.offsetLeft, slider.offsetTop); #}
                    {# window.log(x,y); #}
                    //end
                    var vertical_value = Math.max(0,Math.floor(x/knob_width)); //submitted value
                    var state_y = Math.floor(vertical_value*offY + offY); //y-height for sprite
                    window.log(state_y);
                    $(slider).css({backgroundPosition:'0px -'+(state_y)+'px'});
                    //for transmitting of a corret value there has to be a 
                    // hidden input element with the same .NAME as the 
                    // slider has. the <p> is for displaying purposes only and
                    // works by the same name.
                    var linking_name = $(slider).attr("name");
                    $('input[name="'+linking_name+'"]').val(vertical_value);

                    if (vertical_value == 0)
                        $('p[name="'+linking_name+'"]').text("0 (definitely reject)");
                    else if (vertical_value == 10)
                        $('p[name="'+linking_name+'"]').text("10 (definitely accept)");
                    else
                        $('p[name="'+linking_name+'"]').text(vertical_value);


                    {# var log_this = $('input[name="'+linking_name+'"]').val(); #}
                    {# console.log(log_this, linking_name); #}
                    {# window.log("vert: ",vertical_value); #}
                };
               
        });
        </script>

{# END SLIDER SCRIPT####################################################### #}
 

{% endblock %}
