{% extends 'base.html' %}
{% load staticfiles %}
{# {% load i18n %} #}
{% block body %}
<div>
<a href="../../lang/" >
{% if lang == "en" %}
    <img src="{% static "img/en.jpg" %}" style="height:60px;" >
{% elif lang == "de" %}
    <img src="{% static "img/de.jpg" %}" style="height:60px;" >
{% endif %}
</a>
</div>

<br/>
1: increasing 2: decreasing 3: baseline1 4: baseline2
{% if pub.override_group %}
<p>Override group: {{ pub.override_group  }}</p>
{% else %}
<p>Default group: {{ pub.def_group  }}</p>
{% endif %}
<p class="">
Jump to page:<br/>
</p>

<div style="margin-left:50px;">
<ol>
{% for pg in pages %}
    <li style="font-size:20px; font-weight:bold;"><a href='{{pg}}'>{{pg}}</a> 
{% endfor %}
</ol>
</div>
{% endblock %}
