{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block body %}

    <b> Experiment<br/>
----------------------------------------
<p style="font-size:24px; font-weight:bold; margin:0;">{{exp.name }}</p>
----------------------------------------<br/>
Properties:<br/></b>
--Total data files: {{exp.external_source_data_set.count }}<br/>
{# {% for file in exp.external_source_data_set.all %} #}
{#    -- {{file.filetype}}: header: {{file.header}}<br/> #}
{# {%endfor %} #}
----------------------------------------<br/>
-- Comepleted participants: {{exp.participant_set.count}}<br/>
----------------------------------------<br/>
<br/>
{# <form action="/eye/exp{{ exp_id }}/pcpt{{ pcpt_id }}/" method="post">{% csrf_token %} #}
{# <form action="/eye/exp{{ exp_id }}/pcptinit/" method="post"> #}
    <form action="" method="post">{% csrf_token %}
    {# <form action={{destination}} method="post">{% csrf_token %} #}
<div>
    <b>-- Participant task size:</b>
    (Default value is: )
    {%for size in tasksize %}
        {%if size.checked == "checked" %}
            {{size.label}}
        {%endif%}
    {%endfor %}
<label><input type="radio" name="ct_size" value={{tasksize.0.value}} {{tasksize.0.checked}} /> {{tasksize.0.label}}</label>
<label><input type="radio" name="ct_size" value={{tasksize.1.value}} {{tasksize.1.checked}}/> {{tasksize.1.label}}</label>
<label><input type="radio" name="ct_size" value={{tasksize.2.value}} {{tasksize.2.checked}}/> {{tasksize.2.label}}</label>
</div>
<br/>
<div>
    <b>Next participant ID: {{pcpt_id}}</b><br/>
    <br/>
Enter ID manually for preview: <br/>
<input type="text" value="Enter desired ID" name="input_pcptid" /> (leave blank for proper ID = <b>{{pcpt_id}}</b> )
</div>
<br/>
<input type="submit" value="New Participant" style="height:40px; width:150px;"/>

{# enable button #}
<script src="{% static "js/jquery-1.9.1.min.js" %}">
$(document).ready(function()
{
        $("#divTest2").text("Hello, world!");   
});
</script>

{# {{ ERROR }} BLOCK #}
</form>
{% endblock %}
