{% extends 'base.html' %}
{% load staticfiles %}
{# {% load i18n %} #}
{% block body %}
{# ######################################################################## #}
{# ######################################################################## #}
<a href="../" style="font-size:10px">&lt;&lt; Experiment overview</a><br/>
<div style="float:left;" >
<table>
<tr>
<td colspan="3">
<p style="margin:0px;"><b>&nbsp;Experiment</b><br/></p>
<p style="background:#6cf; color:#555; line-height:150%;vertical-align:middle; font-size:24px; font-weight:bold; margin:0;">&nbsp;{{exp.name }}&nbsp;</p>
<br/>
</td>
</tr>
    <tr>
        <td style="vertical-align:top;background:#666;padding:25px;" width="300px" >
 Completed participants: {{exp.participant_set.count}}<br/>
<br/>
 {# Total data files: {{exp.external_source_data_set.count }}<br/> #}
{# {% for file in exp.external_source_data_set.all %} #}
{#    -- {{file.filetype}}: header: {{file.header}}<br/> #}
{# {%endfor %} #}
{# -----------------------------<br/> #}
seed: {{ exp.grouping.seed }} <br/>
info:<br/>
<div class="info_field">
 {{ exp.info }}
 </div>
first conditions: <br/>
<div class="info_field">
{{ grouping|truncatechars:30  }}<br/>
 </div>
participant stubs:
{% if exp.pub_set.count != 0 %}
    <span class="highlight">
    {{ exp.pub_set.count }}<br/>
     </span>
{% else %}
    {{ exp.pub_set.count }}<br/>
{% endif %}
<br/>
Used statistics:<br/>
<div class="info_field">
• choice tasks USED: {{ used.ctasks }} <br/>
• baseline tasks USED: {{ used.bsltsks }}<br/>
• scale sequences USED: {{ used.scales }} <br/>
 </div>
Free statistics:<br/>
<div class="info_field">
• choice tasks FREE: {{ unused.ctasks }} <br/>
• baseline tasks FREE: {{ unused.bsltsks }}<br/>
• scale sequences FREE: {{ unused.scales }} <br/>
 </div>
<form action="{{ destination }}"  method="post" name="experience_settings" id="exp_form_id" >
{% csrf_token %}
<br/>
<div>
    <b>Participant task size:</b><br/>
    (Default value is: )
    {%for size in tasksize %}
        {%if size.checked == "checked" %}
            {{size.label}}
        {%endif%}
    {%endfor %}
    {% for t in tasksize %}
        <label class="lbadmin" ><input type="radio" name="ct_size" value={{t.value}} {{t.checked}} {{ t.enabled }}/> {{t.label}}</label>
        {% endfor %}
</div>
<br/>
<div>
    {% if next_id_hole != None %}
        {# <span class="highlight"> #}
        Filling ID hole: {{ next_id_hole }}<br/>
        ID hole condition: {{ next_id_hole_group }}<br/>
        {# </span> #}
    {% else %}
        <b>Next participant ID: {{pcpt_id}}</b><br/>
        <b>Next condition: {{ next_condition }}</b><br/>
    {% endif %}
    <br/>
{# Enter ID manually: <br/> #}
{# <input type="text" value="{{ pcpt_id }}" name="input_pcptid" /> (dont change for next default ID = <b>{{pcpt_id}}</b> ) #}
</div>
<br/>
<br/>
</td>

{# 2nd column, RIGHT #}
{# ######################################################################## #}
<td style="width:25px;">
{# spacer #}
</td>
{# ######################################################################## #}

<td style="border:1px solid #6cf; background:#666; padding:25px; padding-top:5px; padding-bottom:25px;">
<br/>
<p style="background:#6cf; color:#555;"><b>Options override:</b></p>
<p>Enable form validation?</p>
<label class="lbadmin" style="width:250px;text-align:left;"><input type="checkbox" name="cbox_validation" checked />Validate user input?</label>
<p>Jump to Page:</p>
<label class="lbadmin" style="width:250px;text-align:left;"><input type="checkbox" name="cbox_singlepagedebug" checked/>
Show page list</label>
<p>Select the "Welcome Page"</p>
<div style="text-indent:35px;">
<select name="selectwelcome" style="width:200px;">
    {% if project_language == "de" %}
        <option value="welcome_ger">Bielefeld</option>
        <option value="welcome_en">Melbourne</option>
    {% else %}
        <option value="welcome_en">Melbourne</option>
        <option value="welcome_ger">Bielefeld</option>
    {% endif %}
</select>
</div>
<p>Change next Condition to:</p>
<div style="text-indent:35px;">
<select name="selectcondition" style="width:200px;">
    <option value="">--select--</option>
    <option value="increasing">Increasing</option>
    <option value="decreasing">Decreasing</option>
    <option value="baselinelow">Baseline low</option>
    <option value="baselinehigh">Baseline high</option>
</select>
</div>
<p>Select Language</p>
<div style="text-indent:35px;">
<select id="lang" name="selectlanguage" style="width:200px;">
    {% if project_language == "de" %}
        <option value="de">Deutsch</option>
        <option value="en">English</option>
    {% else %}
        <option value="en">English</option>
        <option value="de">Deutsch</option>
    {% endif %}
</select>
<div id="lang_picture" style="height:50px;margin-top:20px;"></div>
</div>

<p>Select Resolution</p>
<div style="text-indent:35px;">
<select id="lang" name="selectresolution" style="width:200px;">
        <option value="1280x1024">1280x1024</option>
        <option value="1650x1050">1650x1050</option>
</select>
</div>

<div style=" width:250px; margin-top:15px; text-align:left;">
<p style="margin-bottom:0px;" >Debug Participant</p> 
<label class="lbadmin" style="font-size:14px; width:180px; margin-left:auto; margin-right:auto; text-align:center;"><input type="checkbox" name="cbox_testpcpt" />&nbsp;invalid pcpt</label>
</div>
<div style="background:#844;color:#fff; width:250px; padding:5px; margin-top:15px; text-align:center;">
<p style="margin-bottom:0px;" >Valid <br/> Participant?</p> 
<label class="lbadmin" style="color:#fff; width:180px; margin-left:auto; margin-right:auto; text-align:center;"><input type="checkbox" name="cbox_valid_pcpt" />&nbsp;VALID </label>
</div>
{# <div style=" width:250px; margin-top:15px; text-align:left; background:#0fb"> #}
{# <p style="margin-bottom:0px;" >Debug saving</p>  #}
{# <label class="lbadmin" style="font-size:14px; width:180px; margin-left:auto; margin-right:auto; text-align:center;"><input type="checkbox" name="cbox_debugsaving" />&nbsp;use save function</label> #}
{# </div> #}

</td>
</tr>

<tr>
<td colspan="3">
<br/>
<input type="submit" value="New Participant" class="bt_new_pcpt" />
</form>
</td>
</tr>
</table>
</div>

{# 3rd column #}
{# ######################################################################## #}
<div id="pub_list">
<p> Participant stubs: </p>
{# <br/> #}
<form action="{{ remove_pubs_url }}" method="post">
{% csrf_token %}
{# Amount: {{ pubs|length}}<br/> #}
{% if not id_holes == '[]' %}
ID holes:
<div class="info_field">
{{ id_holes }}
</div>
respective groups: 
<div class="info_field">
{{ id_hole_groups }}
</div>
{% else %}
<p style="color:#00cc00">No ID holes!</p>
{% endif %}
{% if pubs %}
<p style="font-size:10px;"> time created | hard_id | default group | override group | PK</p>
    <div style="border:3px solid #b00; max-height: 400px; overflow-y: scroll; color:#555; background:#444;">
<input type="hidden" value="gimme my post data!" />
    {# {% for pub_id, pub in pubs.items %} #}
    {% for pub in pubs %}
    {# {{ pub_id }} =  #}
    <label class="pub_label" ><input type="checkbox" checked name="pubs_to_delete" id="cb_pubid{{ pub.id }}" value="{{pub.id}}" />{{ pub.time_string }}|ID{{ pub.hard_id }}|GRP{{ pub.def_group }}|OVR{{ pub.override_group }} PK{{ pub.id }}|{{ pub.sessionid|truncatechars:8 }}</label>
{# {{ pub.create_time|time}} #}
{# {{ pub.create_time|date}} #}

    {% endfor %}
    </div>
{% else %}
<p style="color:#00cc00">No stubs!</p>
{% endif %}
    {# <input type="submit" value="Select All" > #}
    <br/>
    <input type="submit" name="submit_pub" value="Eliminate ALL selected stubs"/>

    </form>
</div>
{# ######################################################################## #}

<div id="pub_list" style="margin-top:0px;">
<form action="{{ url_reset_id_holes }}" method="post">
{% csrf_token %}
    <input type="submit" name="submit_reset_id_holes" disabled value="Reset ID holes"/>
</form>
</div>
{# ######################################################################## #}

</script>
<script>
    $(document).ready(function(){
        var current_language = $("#lang").val();
        var de_flag = '<img src="{% static "img/de.jpg" %}" style="height:50px;" >';
        var en_flag = '<img src="{% static "img/en.jpg" %}" style="height:50px;" >';
        function showflag(language){
            if (language == 'en') {
                $("#lang_picture img").remove();
                $("#lang_picture").append(en_flag);
                }
            else if (language == 'de') {
                $("#lang_picture img").remove();
                $("#lang_picture").append(de_flag);
                };
        };
        showflag(current_language);
        $("#lang").change(function(){
            var current_language = $("#lang").val();
            showflag(current_language);
            });
        });
</script>

<br/>
<br/>

{# Form validation #}

{# {% if DEBUG %} <div id="allErrors"></div> {% endif %} #}
<div id="allErrors"></div>
<br/>
<div style="margin-left:auto; margin-right:auto;width:500px;">
<div id="errorField" style="display:none" ></div>
<br/>
</div>

{% endblock %}
