{% extends 'eyevacs/0preview1650.html' %}
{% block body %}
{% load i18n %}    
{% load staticfiles %}
<!-- ################################################################# -->

{# <p class="question_title"></p> #}
<form action={{destination}} method="post" name="explanation" >
{% csrf_token %}
{# <p class="full_page_text"> #}
<br/>
<br/>
<p class="full_page_text">
In this section, you will choose from a number of different hotels that differ in all of the characteristics discussed above. Again, please imagine that a relative has just given you $2000 to go on vacation for you and a friend. Imagine that the hotels shown on the screen are the only options available, and the hotels are the same except for the differences shown in the questions. <br/>
<br/>
Please click on the hotel you like best on every screen. You will be shown 7 different groups of hotels.<br/>
</p>

<p class="full_page_text"><i>Summary of all attributes</i></p>

<div style="width:1000px;margin-right: auto;margin-left: auto;" class="table_info">
<table  style="width:1000px;" >
<tr>
<td class="table_attribute dark2">Food Quality</td>
    <td class="table_level">good</td>
    <td class="table_level level_dark2">very good</td>
    <td class="table_level">excellent</td>
</tr>
<tr>
<td class="table_attribute dark1">Customers recommending</td> 
    <td class="table_level">50%</td>
    <td class="table_level level_dark1">70%</td>
    <td class="table_level">90%</td>
</tr>
<tr>
<td class="table_attribute dark2">Distance to CBD</td> 
    <td class="table_level">1 km</td>
    <td class="table_level level_dark2">2 km</td>
    <td class="table_level">3 km</td>
</tr>
<tr>
<td class="table_attribute dark1">Sea view</td>
    <td class="table_level">No sea view</td>
    <td class="table_level level_dark1">Side sea view</td>
    <td class="table_level">Full sea view</td>
</tr>
<tr>
<td class="table_attribute dark2">Price</td>
    <td class="table_level">899$</td>
    <td class="table_level level_dark2">799$</td>
    <td class="table_level">699$</td>
</tr>
<tr>
<td class="table_attribute dark1">Room category</td>
    <td class="table_level">Standard</td>
    <td class="table_level level_dark1">Superior</td>
    <td class="table_level">Deluxe</td>
</tr>

</table>
</div>

<input name="begin_radio_weiter" type="submit" class="weiter" value={{bt_label}} />
</form>

<!-- ################################################################# -->
{% endblock %}
