{% extends 'eyevacs/0preview1650.html' %}
{% block body %}
{% load i18n %}    
{% get_current_language as LANG %}
{% load staticfiles %}
<!-- ################################################################# -->

{# <p class="question_title"></p> #}
<form action={{destination}} method="post" name="explanation" >
{% csrf_token %}
{# <p class="full_page_text"> #}
<br/>
<div style="margin-left:120px;">
<img src="{% static "img/mall.jpg" %}"><br/>
</div>
<p class="explanation_title">{% trans "Distance to CBD" %}</p>
<p class="full_page_text">{% trans "The hotels of the vacation packages also differ in locations. All hotels are located near the coast, but the distance to the CBD ranges from 1km to 3km, so that you may have to take a bus to go to the city center." %}<br/>
<br/>{% trans "The last time you were in a hotel near the sea, in terms of the distance to the CBD how far away was your hotel from the city center?" %}<br/>
<br/>
</p>

<div style="margin-left:200px;">
<select name="explanation_distance" style="width:600px;height:35px;font-size:20px;font-weight:normal;">
<option value="">{% trans "--select--" %}</option>
<option value="0">0 km</option>
<option value="1">1 km</option>
<option value="2">2 km</option>
<option value="3">3 km</option>
<option value="4">4 km</option>
<option value="5">5 km</option>
<option value="6">6 km</option>
<option value="7">7 km</option>
<option value="8">8 km</option>
<option value="9">9 km</option>
<option value="10">10 km</option>
<option value="10+">{% trans "more than 10 km" %}</option>
<option value="dunno">{% trans "I don't know." %}</option>
</select>
</div>

<input name="begin_radio_weiter" type="submit" class="weiter" value={{bt_label}} />
</form>

{# ######################################################################## #}
{# VALIDATE ALL REQUIRED INPUTS  #}
<div style="margin-left:auto; margin-right:auto;width:700px;">
<div id="fatError" style=""></div>

{% if validation %}
<script>
    $(this).ready(function(){
        var thisform = $('form');
        window.log('validation is running...');
        var validator = thisform.validate({
            {# turn off debug to truly submit! #}
            debug: true,
            rules: {
                explanation_distance: "required",
                },
            {# empty function places the usually obligatory error messages into nowhere #}
            errorPlacement: function(error, element) {},
            showErrors: function(errorMap, errorList) {
                var errors = validator.numberOfInvalids();
                $("#fatError").addClass("mainError");
                {% if LANG == "en" %}
                var errorText = "You have left "+errors+" questions unanswered!";
                {% elif LANG == "de" %}
                var errorText = "Du hast "+errors+" Fragen noch nicht beantwortet!";
                {% endif %}
                $("#fatError").text(errorText);
                if (!errors) {
                    window.log('hiding   ..  ');
                    $("#fatError").hide();
                };
            },
            errorClass: "invalid",
            {# debug only #}
            submitHandler: function(thisform) { 
                // do other stuff for a valid form
                thisform.submit();
            }
        });
    });
  </script>
{% endif %}
{# END # VALIDATE ALL REQUIRED INPUTS ##################################### #}

<!-- ################################################################# -->
{% endblock %}
