{% extends 'eyevacs/0preview1650.html' %}
{% block body %}
{% load i18n %}    
{% get_current_language as LANG %}
{% load staticfiles %}
<!-- ################################################################# -->

{# <p class="question_title"></p> #}
<form action={{destination}} method="post" name="explanation" >
{% csrf_token %}
{# <p class="full_page_text"> #}
<br/>
<br/>
<p class="full_page_text">{% trans " Now that you have seen all characteristics, please indicate how your ideal vacation package would look like by clicking on the respective levels you like best." %}</p>

{# <p class="full_page_text"><i>Summary of all attributes</i></p> #}
<br/>
<br/>
<div style="width:1000px;margin-right: auto;margin-left: auto;" class="table_info">
<table  style="width:1000px;" >
<tr id="food" > 
<td class="table_attribute dark2">{% trans "food quality" %}</td>
    <td id="food_2" class="food table_level">{% trans "excellent" %}</td>
    <td id="food_1" class="food table_level level_dark2">{% trans "very good" %}</td>
    <td id="food_0" class="food table_level">{% trans "good" %}</td>
</tr>
<tr id="recommending">
<td class="table_attribute dark1">{% trans "customers recommending" %}</td> 
    <td id="recommending_0" class="recommending table_level">50%</td>
    <td id="recommending_2" class="recommending table_level level_dark1">90%</td>
    <td id="recommending_1" class="recommending table_level">70%</td>
</tr>
<tr id="distance" >
<td class="table_attribute dark2">{% trans "distance to CBD" %}</td> 
    <td id="distance_2" class="distance table_level">1 km</td>
    <td id="distance_0" class="distance table_level level_dark2">3 km</td>
    <td id="distance_1" class="distance table_level">2 km</td>
</tr>
<tr id="seaview" >
<td class="table_attribute dark1">{% trans "sea view" %}</td>
    <td id="seaview_1" class="seaview table_level">{% trans "side sea view" %}</td>
    <td id="seaview_0" class="seaview table_level level_dark1">{% trans "no sea view" %}</td>
    <td id="seaview_2" class="seaview table_level">{% trans "full sea view" %}</td>
</tr>
<tr id="price" >
<td class="table_attribute dark2">{% trans "price per person" %}</td>
    <td id="price_0" class="price table_level">{% trans "$899" %}</td>
    <td id="price_2" class="price table_level level_dark2">{% trans "$699" %}</td>
    <td id="price_1" class="price table_level">{% trans "$799" %}</td>
</tr>
<tr id="room" >
<td class="table_attribute dark1">{% trans "room category" %}</td>
    <td id="room_0" class="room table_level">{% trans "standard" %}</td>
    <td id="room_1" class="room table_level level_dark1">{% trans "superior" %}</td>
    <td id="room_2" class="room table_level">{% trans "deluxe" %}</td>
</tr>

</table>
</div>

<div id="hidden_marked_levels" >
<input class="food" name="fav_food" type="hidden"  />
<input class="recommending" name="fav_recommending" type="hidden" />
<input class="distance" name="fav_distance" type="hidden" />
<input class="seaview" name="fav_seaview" type="hidden" />
<input class="price" name="fav_price" type="hidden" />
<input class="room" name="fav_room" type="hidden"  />
</div>

<input name="begin_radio_weiter" type="submit" class="weiter" value={{bt_label}} />
</form>

{# ######################################################################## #}
{# VALIDATE ALL REQUIRED INPUTS  #}
<div style="margin-left:auto; margin-right:auto;width:700px;">
<div id="fatError" style=""></div>

{% if request.session.validation %}
<script>
    $(this).ready(function(){
        var thisform = $('form');
        window.log('validation is running...');
        var validator = thisform.validate({
            {# hidden, invisible inputs are ignored by default...  #}
            {# revert this behaviour with: #}
            ignore: '',
            debug: true,
            rules: {
                fav_food: "required",
                fav_recommending: "required",
                fav_distance: "required",
                fav_seaview: "required",
                fav_price: "required",
                fav_room: "required",
                },
            errorPlacement: function(error, element) {},
            showErrors: function(errorMap, errorList) {
                var errors = validator.numberOfInvalids();
                $("#fatError").addClass("mainError");
                {% if LANG == "en" %}
                var errorText = "You have left "+errors+" questions unanswered!";
                {% elif LANG == "de" %}
                var errorText = "Du hast "+errors+" Fragen noch nicht beantwortet!";
                {% endif %}
                $("#fatError").text(errorText);
                if (!errors) {
                    window.log('hiding   ..  ');
                    $("#fatError").hide();
                };
                {# ###################################################### #}
                this.defaultShowErrors();
                {# kleines 'true' #}
                {# durch window. wird eine globale Variable gesetzt #}
                window.errorActive = true;
            },
            errorClass: "invalid",
            submitHandler: function(thisform) { 
                thisform.submit();
            }
        });
        window.log('table clicker ready');
        var marked = {}
        $(".table_level").click(function() {
        {# $(this).closest("tr").siblings().removeClass("higlight"); #}
                validator;
                parent = $(this).parent('tr').attr('id');
                marked[parent] = this.id;
                {# window.log(marked); #}
                $.each( marked, function(row, cell){
                    {# window.log(row, cell); #}
                    {# $("input ." + row).value = cell; #}
                    $("input:hidden."+row+" ").val(cell);
                    window.log($("input:hidden."+row).val());
                });
        {# $(this).closest("tr").siblings().removeClass("higlight"); #}
        {# $(this).parent("tr").addClass("highlight", this.clicked); #}
                {# $(this).toggleClass("highlight", this.clicked); #}
                $(this).addClass("highlight", this.clicked);
                $(this).siblings("td").removeClass("highlight");
                {# force validation, because the plugin doesnt auto-update #}
                {# on hidden, invisible input fields! but only force it, when #}
                {# the error message has been displayed initially by trying to submit #}
                if (window.errorActive){
                    thisform.valid()
                    };
             }); 
    });
  </script>
{% endif %}
{# END # VALIDATE ALL REQUIRED INPUTS ##################################### #}


{% endblock %}
