{% extends 'eyevacs/0preview1650.html' %}
{% block body %}
{% load i18n %}    
{% get_current_language as LANG %}
{% load staticfiles %}
<!-- ################################################################# -->

{# <p class="question_title"></p> #}
<form action={{destination}} method="post" name="explanation" >
{% csrf_token %}
{# <p class="full_page_text"> #}
<br/>
<br/>
<br/>
<br/>
<p class="explanation_title">{% trans "Sea view" %}</p>
<p class="full_page_text">{% trans "The rooms in your hotel also vary in terms of whether they have a sea view. Some hotels offer you a room with a full sea view, while others offer a side sea view or no sea view at all." %}<br/>
</p>
<br/>
<div class="exp_inputTable_spacer" >
<img src="{% static "img/no_view.jpg" %}" style="height:15em" >
<img src="{% static "img/side_view.jpg" %}" style="height:15em" >
<img src="{% static "img/full_view.jpg" %}" style="height:15em" >
</div><br/>
<p class="full_page_text">{% trans "The last time you were in a hotel next to the sea, in terms of the sea view which kind of room did you choose?" %}<br/>
</p>
<div class="rg exp_inputTable_spacer" >
<table class="exp_inputTable">
<tr><td class="rg_text_line_no_lite"><label for="exp_view_full" ><input id="exp_view_full" type="radio" name="explanation_view" value="no_sea_view" ></input>{% trans "No sea view" %}</label></tr></td>
<tr><td class="rg_text_line_hi_lite"><label for="exp_view_side" ><input id="exp_view_side" type="radio" name="explanation_view" value="side_sea_view" ></input>{% trans "Side sea view" %}</label></tr></td>
<tr><td class="rg_text_line_no_lite"><label for="exp_view_no" ><input id="exp_view_no" type="radio" name="explanation_view" value="full_sea_view" ></input>{% trans "Full sea view" %}</label></tr></td>
<tr><td class="rg_text_line_hi_lite"><label for="exp_view_dunno" ><input id="exp_view_dunno" type="radio" name="explanation_view" value="dont_know" ></input>{% trans "I don't know." %}</label></tr></td>
</table>
</div>

<input name="begin_radio_weiter" type="submit" class="weiter" value={{bt_label}} />
</form>

{# ######################################################################## #}
{# HIGHLIGHTING ALL ACTIVE LABELS #}
<div class="debugtext"></div>
<script>
    $(this).ready(function(){
        window.log('clicker ready');
        $("input").change(function(){
            {# Highlight selected item #}
            var checkedRadio = $("input:checked");
            checkedRadio.each(function(i){
                window.log('click!');
                itemID = $(this).attr("id");
                {# $(".debugtext").html(itemID); #}
                $("label[for="+itemID+"]").addClass("highlight");
                });
            {# revert others to default color  #}
            var unCheckedRadio = $("input:not(:checked)");
            unCheckedRadio.each(function(i){
                itemID = $(this).attr("id");
                $("label[for="+itemID+"]").removeClass("highlight");
                });
            });
        });
</script>
{# END # HIGHLIGHTING ALL ACTIVE LABELS ################################### #}

{# ######################################################################## #}
{# VALIDATE ALL REQUIRED INPUTS  #}
<div class="fatErrorWrapper">
<div id="fatError" style=""></div>

{% if request.session.validation %}
<script>
    $(this).ready(function(){
        var thisform = $('form');
        window.log('validation is running...');
        var validator = thisform.validate({
            {# turn off debug to truly submit! #}
            debug: true,
            rules: {
                explanation_view: "required",
                },
            {# empty function places the usually obligatory error messages into nowhere #}
            errorPlacement: function(error, element) {},
            showErrors: function(errorMap, errorList) {
                var errors = validator.numberOfInvalids();
                $("#fatError").addClass("mainError");
                {% if LANG == "en" %}
                var errorText = "You have left "+errors+" questions unanswered!";
                {% elif LANG == "de" %}
                var errorText = "Du hast "+errors+" Fragen noch nicht beantwortet!";
                {% endif %}
                $("#fatError").text(errorText);
                if (!errors) {
                    window.log('hiding   ..  ');
                    $("#fatError").hide();
                };
            },
            errorClass: "invalid",
            {# debug only #}
            submitHandler: function(thisform) { 
                // do other stuff for a valid form
                thisform.submit();
            }
        });
    });
  </script>
{% endif %}
{# END # VALIDATE ALL REQUIRED INPUTS ##################################### #}

<!-- ################################################################# -->
{% endblock %}
