{% extends 'eyevacs/0preview1650.html' %}
{% block body %}
{% load i18n %}    
{% get_current_language as LANG %}
{% load staticfiles %}
<!-- ################################################################# -->

{# <p class="question_title"></p> #}
<form action={{destination}} method="post" name="explanation" >
{% csrf_token %}
{# <p class="full_page_text"> #}
<p class="explanation_title">{% trans "Room category" %}</p>
<p class="full_page_text">{% trans "Hotel rooms also vary with respect to the size of the room as well as the amenities and the facilities offered. Three different room categories are available:" %}<br/>
</p>
<div style="clear:left;" >
<p class="full_page_text" >
<img src="{% static "img/standard.jpg" %}" class="exp_room_img" >
<b>{% trans "Standard rooms:" %}</b>&nbsp;{% trans "The standard rooms are well appointed and perfectly suited for all your needs. The average size is 25 square meters." %}</p>
</div>
<br/>
<div style="clear:left;" >
<p class="full_page_text" >
<img src="{% static "img/superior.jpg" %}" class="exp_room_img"  >
<b>{% trans "Superior rooms:" %}</b>&nbsp;{% trans "The Superior rooms are larger than the standard rooms, with an average size of 30 square meters and a King bed." %}</p>
</div>
<br/>
<div style="clear:left;" >
<p class="full_page_text">
<img src="{% static "img/deluxe.jpg" %}" class="exp_room_img" >
<b>{% trans "Deluxe rooms:" %}</b>&nbsp;{% trans "The Deluxe rooms are luxurious and spacious with an average size of 45 square metres including a seating area with chairs or sofa. Amenities and facilities include a King bed, en-suite bathroom, high-speed internet access, flat-screen television and an electronic safe." %}<br/>
</p>
</div>
<p class="full_page_text">
<br/>{% trans "The last time you were in a hotel next to the sea, which kind of room did you choose?" %}</p>
<br/>

<div class="rg exp_inputTable_spacer" >
<table class="exp_inputTable">
<tr><td class="rg_text_line_no_lite"><label for="exp_room_standard" ><input id="exp_room_standard" type="radio" name="explanation_room" value="0standardroom" ></input>{% trans "Standard" %}</label></tr></td>
<tr><td class="rg_text_line_hi_lite"><label for="exp_room_superior" ><input id="exp_room_superior" type="radio" name="explanation_room" value="1superiorroom" ></input>{% trans "Superior" %}</label></tr></td>
<tr><td class="rg_text_line_no_lite"><label for="exp_room_deluxe" ><input id="exp_room_deluxe" type="radio" name="explanation_room" value="3deluxeroom" ></input>{% trans "Deluxe" %}</label></tr></td>
<tr><td class="rg_text_line_hi_lite"><label for="exp_room_dunno" ><input id="exp_room_dunno" type="radio" name="explanation_room" value="-dontknowroom" ></input>{% trans "I don't know." %}</label></tr></td>
</table>
</div>

<div style="height:14em">
<input name="begin_radio_weiter" type="submit" class="weiter" value={{bt_label}} />
</div>
</form>

{# ######################################################################## #}
{# HIGHLIGHTING ALL ACTIVE LABELS #}
<script>
    $(this).ready(function(){
        window.log('clicker ready');
        $("input").change(function(){
            {# Highlight selected item #}
            var checkedRadio = $("input:checked");
            checkedRadio.each(function(i){
                window.log('click!');
                itemID = $(this).attr("id");
                $("label[for="+itemID+"]").addClass("highlight");
                });
            {# revert others to default color  #}
            var unCheckedRadio = $("input:not(:checked)");
            unCheckedRadio.each(function(i){
                itemID = $(this).attr("id");
                $("label[for="+itemID+"]").removeClass("highlight");
                });
            });
        });
</script>
{# END # HIGHLIGHTING ALL ACTIVE LABELS ################################### #}

{# ######################################################################## #}
{# VALIDATE ALL REQUIRED INPUTS  #}
<div class="fatErrorWrapper">
<div id="fatError" style=""></div>

{% if request.session.validation %}
<script>
    $(this).ready(function(){
        var thisform = $('form');
        window.log('validation is running...');
        var validator = thisform.validate({
            {# turn off debug to truly submit! #}
            debug: true,
            rules: {
                explanation_room: "required",
                },
            {# empty function places the usually obligatory error messages into nowhere #}
            errorPlacement: function(error, element) {},
            showErrors: function(errorMap, errorList) {
                var errors = validator.numberOfInvalids();
                $("#fatError").addClass("mainError");
                {% if LANG == "en" %}
                var errorText = "You have left "+errors+" questions unanswered!";
                {% elif LANG == "de" %}
                var errorText = "Du hast "+errors+" Fragen noch nicht beantwortet!";
                {% endif %}
                $("#fatError").text(errorText);
                if (!errors) {
                    window.log('hiding   ..  ');
                    $("#fatError").hide();
                };
            },
            errorClass: "invalid",
            {# debug only #}
            submitHandler: function(thisform) { 
                // do other stuff for a valid form
                thisform.submit();
            }
        });
    });
  </script>
{% endif %}
{# END # VALIDATE ALL REQUIRED INPUTS ##################################### #}

<!-- ################################################################# -->
{% endblock %}
