{% extends 'eyevacs/0preview1650.html' %}
{% block body %}
{% load i18n %}    
<!-- ################################################################# -->

{# <p class="question_title"></p> #}
<form action={{destination}} method="post" name="explanation" >
{% csrf_token %}
{#    On the following screens you will see sets of vacation packages you can choose from. Each decision you make should be treated like an actual purchase.<br/> #}
{# <br/> #}
{# Consider these vacation packages as possible options for a forthcoming weekend holiday. You have already selected your destination but still need to book your accommodation. The following pages will show different accommodation options. For each page select your most preferred option. Each page shows a new selection, each time you can choose only one option (or none).<br/> #}
<p class="full_page_text">
Assume a rich relative has just given you $1000 to go on vacation for you and a friend. The place you have chosen has many exciting things for you to do and see. You now need to consider the place at which you will stay. On the following screens you will see sets of vacation packages you can choose from. Each decision you make should be treated like an actual purchase.<br/>
<br/>
Consider these vacation packages as possible options for a forthcoming weekend holiday. You have already selected your destination but still need to book your accommodation. The following pages will show different accommodation options. For each page select your most preferred option. Each page shows a new selection, each time you can choose only one option. <br/>
<br/>
Please have a careful look on the following features before you start choosing: We will need to elaborate on these attributes so that the choice is realistic. <br/>
<br/>
<br/>
{# <div style="height:30px;"> </div> #}
<div style="width:1000px;margin-right: auto;margin-left: auto;" class="table_info">
<table  style="width:1000px;" >
<tr>
<td class="table_attribute dark2">Food Quality</td>
    <td class="table_level">One star</td>
    <td class="table_level level_dark2">Two stars</td>
    <td class="table_level">Three stars</td>
</tr>
<tr>
<td class="table_attribute dark1">Customer service rating</td> 
    <td class="table_level">Low</td>
    <td class="table_level level_dark1">Medium </td>
    <td class="table_level">High</td>
</tr>
<tr>
<td class="table_attribute dark2">Type of building</td> 
    <td class="table_level">Bungalow</td>
    <td class="table_level level_dark2"> Rooming house</td>
    <td class="table_level">  Hotel complex</td>
</tr>
<tr>
<td class="table_attribute dark1">Sea view</td>
    <td class="table_level">No sea view</td>
    <td class="table_level level_dark1">Side sea view</td>
    <td class="table_level">Full sea view</td>
</tr>
<tr>
<td class="table_attribute dark2">Price</td>
    <td class="table_level">499$</td>
    <td class="table_level level_dark2">399$</td>
    <td class="table_level">299$</td>
</tr>
<tr>
<td class="table_attribute dark1">Room category</td>
    <td class="table_level">Standard</td>
    <td class="table_level level_dark1">Superior</td>
    <td class="table_level">Deluxe</td>
</tr>

</table>
</div>
</p>

<input name="begin_radio_weiter" type="submit" class="weiter" value={{bt_label}} />
</form>

<!-- ################################################################# -->
{% endblock %}
