{% extends 'eyevacs/0preview1650.html' %}
{% block body %}
{% load i18n %}    
{% load staticfiles %}
<!-- ################################################################# -->

{# <p class="question_title"></p> #}
<form action={{destination}} method="post" name="explanation" >
{% csrf_token %}
{# <p class="full_page_text"> #}
<br/>
<div style="margin-left:120px;">
<img src="{% static "img/food.jpg" %}"><br/>
</div>
<p class="explanation_title"> Food quality</p>
<p class="full_page_text">
One way that the vacation packages will differ is how good the quality of the food is in the hotel’s restaurants. All hotels offer breakfast, lunch and dinner, but the quality of the food ranges from good to excellent. <br/>
<br/>
The last time you were in a hotel, how good was the quality of the food?<br/>
</p>
<div class="rg" style="margin-left:200px;">
<table style="width:600px;">
<tr><td class="rg_text_line_no_lite"><label for="exp_food_miserable" ><input id="exp_food_miserable" type="radio" name="explanation_food" value="" ></input>
Miserable</label></tr></td>
<tr><td class="rg_text_line_hi_lite"><label for="exp_food_very_poor" ><input id="exp_food_very_poor" type="radio" name="explanation_food" value="" ></input>
Very poor</label></tr></td>
<tr><td class="rg_text_line_no_lite"><label for="exp_food_poor" ><input id="exp_food_poor" type="radio" name="explanation_food" value="" ></input>
Poor</label></tr></td>
<tr><td class="rg_text_line_hi_lite"><label for="exp_food_soso" ><input id="exp_food_soso" type="radio" name="explanation_food" value="" ></input>
So-so</label></tr></td>
<tr><td class="rg_text_line_no_lite"><label for="exp_food_good" ><input id="exp_food_good" type="radio" name="explanation_food" value="" ></input>
Good</label></tr></td>
<tr><td class="rg_text_line_hi_lite"><label for="exp_food_very_good" ><input id="exp_food_very_good" type="radio" name="explanation_food" value="" ></input>
Very good</label></tr></td>
<tr><td class="rg_text_line_no_lite"><label for="exp_food_excellent" ><input id="exp_food_excellent" type="radio" name="explanation_food" value="" ></input>
Excellent</label></tr></td>
<tr><td class="rg_text_line_hi_lite"><label for="exp_food_dunno" ><input id="exp_food_dunno" type="radio" name="explanation_food" value="" ></input>
I don't know.</label></tr></td>
</table>
</div>

<input name="begin_radio_weiter" type="submit" class="weiter" value={{bt_label}} />
</form>

<!-- ################################################################# -->

{# ######################################################################## #}
<div class="debugtext"></div>
<script>
    $(this).ready(function(){
        window.log('clicker ready');
        $("input").change(function(){
            {# Highlight selected item #}
            var checkedRadio = $("input:checked");
            checkedRadio.each(function(i){
                window.log('click!');
                itemID = $(this).attr("id");
                {# $(".debugtext").html(itemID); #}
                $("label[for="+itemID+"]").addClass("highlight");
                });
            {# revert others to default color  #}
            var unCheckedRadio = $("input:not(:checked)");
            unCheckedRadio.each(function(i){
                itemID = $(this).attr("id");
                $("label[for="+itemID+"]").removeClass("highlight");
                });
            });
        });
</script>

{# ######################################################################## #}
 
<div style="margin-left:auto; margin-right:auto;width:700px;">
<div id="fatError" style="" ></div>

{% if validation %}
<script>
    $(this).ready(function(){
        var thisform = $('form');
        window.log('validation is running...');
        var validator = thisform.validate({
            {# turn off debug to truly submit! #}
            debug: true,
            rules: {
                explanation_food: "required",
                },
            {# empty function places the usually obligatory error messages into nowhere #}
            errorPlacement: function(error, element) {},
            showErrors: function(errorMap, errorList) {
                $("#fatError").addClass("mainError");
                $("#fatError").text("You have left "
                                               + this.numberOfInvalids() 
                                               + " questions unanswered!");
                var errors = validator.numberOfInvalids();
                if (!errors) {
                    window.log('hiding   (..)   ');
                    $("#fatError").hide();
                };
            },
            errorClass: "invalid",
            {# debug only #}
            submitHandler: function(thisform) { 
                // do other stuff for a valid form
                thisform.submit();
            }
        });
    });
  </script>
  {% endif %}
<!-- #### END VALIDATION ############################################# -->
{% endblock %}
