{% extends 'eyevacs/transit_base.html' %}
{% block body %}
{% load i18n %}  
{% load staticfiles %}
<div class="transit_header"> 
<p>{% trans "Please find a hotel which is " %}<span class="underlined">{% trans "both, nearest to the airport and also the cheapest!" %}</span>
</p>
<div style="text-align:center; padding-top:50px" ><img src="{% static "img/3.jpg" %}" class="transitimg" >
<p>{% trans "Quay West Suites" %}</p></div>
</div>
<p class="transit_body" >{% trans "Located on cosmopolitan Southgate  (28 km from the airport) the property is ideally located adjacent to some of Melbournes ideal shopping restaurants and Arts Precinct. Combining both the luxury of 5 star hotel services and facilities with a fully self contained suite Quay West isperfect for that overnight stay or for that longer period. Enjoy the ambience of Jarrah Restaurant and Bar or luxuriate in our indoor 15 metre pool spa sauna and gym." %}<br/>
<br/>{% trans "The hotel is a stylish Southbank hotel set amongst the picturesque Southbank promenade, overlooking the Yarra River. A leisurely stroll from Melbourne's CBD & within walking distance to the major Melbourne attractions." %}<br/>
<br/>{% trans "Quay West Suites Melbourne features 100 one, two or three bedroom Melbourne serviced apartment suites ideally positioned in Southbank promenade.  If you book today, you do not pay more than 349$ for a one weekend stay. Facilities include: Valet grocery service, 24-hour reception, in-suite dining and concierge. A stunning heated indoor swimming pool, spa, sauna, fully equipped gymnasium, valet parking and the dining delights of Jarrah Restaurant & Bar." %}<br/>
</p>
<div class="transit_link">
<a href="../overview/" class="transit_link">{% trans " >> Back to the overview" %}</a>
</div>
{% endblock %}
