{% extends 'eyevacs/transit_base.html' %}
{% block body %}
{% load i18n %}  
{% load staticfiles %}
<div class="transit_header"> 
<div style="text-align:center; padding-top:50px" ><img src="{% static "img/2.jpg" %}" class="transitimg" >
<p>
Grand Mercure
</p></div>
</div>
<p class="transit_body" >
Mercure Welcome Melbourne hotel offers you affordable budget accommodation and a base from which to explore all the attractions and events in Melbourne city and the CBD (24 kilometers from the airport). <br/>
<br/>
Melbourne is undoubtedly Australia’s best destination for shopping, dining, drinking, entertainment and sport – so your hardest decision on holiday will be…"what shall I do today?" Fortunately, staying in the hotel you'll be right in the heart of all this and more - you'll have direct access to all the best things to do in Melbourne city!<br/>
<br/>
You'll love our modern 3.5 star hotel accommodation, providing you with comfort, convenience, and great-value, budget rates  (415$ per weekend) that leave you more to spend on Melbourne city's many attractions!<br/>
</p>

<a href="../" class="transit_link" > >> Back to the overview</a>
{% endblock %}
