{% extends 'eyevacs/transit_base.html' %}
{% block body %}
{% load i18n %}  
{% load staticfiles %}
<div class="transit_header"> 
<p>{% trans "Please find a hotel which is " %}<span class="underlined">{% trans "both, nearest to the airport and also the cheapest!" %}</span></p>
<div style="text-align:center; padding-top:50px" ><img src="{% static "img/6.jpg" %}" class="transitimg" >
<p>{% trans "Park Hyatt" %}</p></div>
</div>
<p class="transit_body" >{% trans "Overlooking St. Patrick’s Cathedral, Fitzroy Gardens and the cosmopolitan mix of Victorian and modern architecture of the central business district, Park Hyatt Melbourne offers an exclusive sanctuary in the heart of the city. Our 5-star luxury hotel in Melbourne CBD provides a warm ambience and exceptional levels of personalised service and luxury amenities. We offer a weekend stay for 329$." %}<br/>
<br/>{% trans "Renowned for having the largest 240 luxury rooms & suites in Melbourne with walk in robes, Italian marble ensuites and open windows, our luxury hotel in Melbourne provides an unparalleled experience of elegant, contemporary luxury. Guests are invited to enjoy the award-winning ‘radii’ restaurant & bar, a decadent Tea Lounge and our local-favourite day spa featuring an indoor aquamarine pool, spa, sauna, gym and private sun deck." %}<br/>
<br/>{% trans "The hotel also offers a beautiful range of event spaces of varying size and design and caters for anything from intimate and private gatherings to corporate events for up to 450 people. The hotel also specialises in weddings offering a wedding planner, wedding packages, personalised menus and a range romantic rooms and suites." %}<br/>
<br/>{% trans "Our luxury Melbourne hotel is near the Melbourne Cricket Ground (MCG), home of the Australian Football League (AFL) and test cricket. It is also within walking distance to the Melbourne Museum, featuring the stunning exhibition The Wonders of Ancient Mesopotamia, and the best boutique shopping, cafes, restaurants and theatre districts in CBD. Melbourne Airport is conveniently located only 23km away." %}<br/>

</p>
<div class="transit_link">
<a href="../" class="transit_link">{% trans " >> Back to the overview" %}</a>
</div>
{% endblock %}
