{% extends 'eyevacs/0preview1650.html' %}
{% block body %}
{% load i18n %}
<!-- ################################################################# -->

<form action={{destination}} method="post" name="pl_demographics" >
{% csrf_token %}    
<div class="rg">
<table width="1200px" border="0" align="center" summary="layout table which contains all 4 radio groups including their questions.">
<!--  <caption>
    begin_radio_table
  </caption>-->
  <tr>
    <td valign="top">
    	<p class="rg_question_text" >You are...</p>
   
        <table class="rg_inner_container">
          <tr>
            <td class="rg_text_line_no_lite"><label>
              <input type="radio" name="gender" value="female" />
            Female</label></td>
          </tr>
          <tr>
            <td class="rg_text_line_hi_lite"><label>
              <input type="radio" name="gender" value="male" />
              Male</label></td>
          </tr>
        </table>
      
    </td>
  </tr>
  <tr>
    <td valign="top">
        <p class="rg_question_text" >How old are you?</p>
        <select name="age" class="rg_inner_container" style="height:35px;font-size:20px;font-weight:normal;font-family:Arial, Helvetica, sans-serif;"> 
            {# padding-top:10px; #}
        <option value="">--select--</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
        <option value="32">32</option>
        <option value="33">33</option>
        <option value="34">34</option>
        <option value="35">35</option>
        <option value="36">36</option>
        <option value="37">37</option>
        <option value="38">38</option>
        <option value="39">39</option>
        <option value="40">40</option>
        <option value="41">41</option>
        <option value="42">42</option>
        <option value="43">43</option>
        <option value="44">44</option>
        <option value="45">45</option>
        <option value="46">46</option>
        <option value="47">47</option>
        <option value="48">48</option>
        <option value="49">49</option>
        <option value="50">50</option>
        <option value="51">51</option>
        <option value="52">52</option>
        <option value="53">53</option>
        <option value="54">54</option>
        <option value="55">55</option>
        <option value="56">56</option>
        <option value="57">57</option>
        <option value="58">58</option>
        <option value="59">59</option>
        <option value="60">60</option>
        <option value="61">61</option>
        <option value="62">62</option>
        <option value="63">63</option>
        <option value="64">64</option>
        <option value="65">65</option>
        <option value="66">66</option>
        <option value="67">67</option>
        </select>
		{# <input type="text" value="" name="input_age" class="rg_inner_container" style="height:35px;font-size:20px;font-weight:bold;font-family:Arial, Helvetica, sans-serif;padding-top:10px;"/> #}

    </td>
  </tr>

</table>

</div>

<input name="pl_demographics_continue" type="submit" class="weiter" value={{bt_label}} />

</form>
{# ######################################################################## #}
<div class="debugtext"></div>

<script>
    $(this).ready(function(){
        window.log('clicker ready');
        {# both working #}
        $("input").change(function(){
            {# Highlight selected item #}
            var checkedRadio = $("input:checked");
            checkedRadio.each(function(i){
                window.log('click!');
                itemID = $(this).attr("id");
                {# $(".debugtext").html(itemID); #}
                $("label[for="+itemID+"]").addClass("highlight");
                });
            {# revert others to default color  #}
            var unCheckedRadio = $("input:not(:checked)");
            unCheckedRadio.each(function(i){
                itemID = $(this).attr("id");
                $("label[for="+itemID+"]").removeClass("highlight");
                });
            });
        });
</script>

{# ######################################################################## #}
 
<div style="margin-left:auto; margin-right:auto;width:700px;">
<div id="fatError" style="" </div>
</div>

{# ######################################################################## #}

{% if validation %}
<script>
    $(this).ready(function(){
        var thisform = $('form');
        window.log('validation is running...');
        var validator = thisform.validate({
            {# turn off debug to truly submit! #}
            debug: true,
            rules: {
                {# . und () {} sind nicht erlaubt in rules... #}
                gender: "required",
                age: "required",
                },
            {# empty function places the usually obligatory error messages into nowhere #}
            errorPlacement: function(error, element) {},
            messages: {
                {# gender: "some error msg", #}
                {# age: "some error msg", #}
            },
            showErrors: function(errorMap, errorList) {
                $("#fatError").addClass("mainError");
                $("#fatError").text("You have left "
                                               + this.numberOfInvalids() 
                                               + " questions unanswered!");
                this.defaultShowErrors();
              },
            errorClass: "invalid",
            {# debug only #}
            submitHandler: function(thisform) { 
                // do other stuff for a valid form
                thisform.submit();
            }
        });
    });
  </script>
  {% endif %}
<!-- #### END VALIDATION ############################################# -->

<!-- ################################################################# -->
{% endblock %}
