{% extends 'eyevacs/0preview1650.html' %}
{% block body %}
{% load i18n %}
{% get_current_language as LANG %}
<!-- ################################################################# -->

<form action={{destination}} method="post" name="pl_demographics" >
{% csrf_token %}    
<div class="rg" style="margin-top:10em;">
<table class="pl_exp_table">
  <tr>
    <td valign="top">
    	<p class="rg_question_text" >{% trans "You are..." %}</p>
   
        <table class="rg_inner_container">
          <tr>
            <td class="rg_text_line_no_lite"><label>
              <input type="radio" name="gender" value="female" />{% trans "Female" %}</label></td>
          </tr>
          <tr>
            <td class="rg_text_line_hi_lite"><label>
              <input type="radio" name="gender" value="male" />{% trans "Male" %}</label></td>
          </tr>
        </table>
      
    </td>
  </tr>
  <tr>
    <td valign="top">
        <p class="rg_question_text" >{% trans "How old are you?" %}</p>
        <select name="age" class="demo_select_field" > 
            {# padding-top:10px; #}
        <option value="">{% trans "--select--" %}</option>
        <option value="<30">{% trans "under 30" %}</option>
        <option value="30-39">{% trans "30 to 39" %}</option>
        <option value="40-49">{% trans "40 to 49" %}</option>
        <option value="50-59">{% trans "50 to 59" %}</option>
        <option value=">60">{% trans "over 60" %}</option>
        </select>

    </td>
  </tr>

</table>

</div>

<input name="pl_demographics_continue" type="submit" class="weiter" value={{bt_label}} />

</form>

{# ######################################################################## #}
{# HIGHLIGHTING ALL ACTIVE LABELS #}
<div class="debugtext"></div>
<script>
    $(this).ready(function(){
        window.log('clicker ready');
        $("input").change(function(){
            {# Highlight selected item #}
            var checkedRadio = $("input:checked");
            checkedRadio.each(function(i){
                window.log('click!');
                itemID = $(this).attr("id");
                {# $(".debugtext").html(itemID); #}
                $("label[for="+itemID+"]").addClass("highlight");
                });
            {# revert others to default color  #}
            var unCheckedRadio = $("input:not(:checked)");
            unCheckedRadio.each(function(i){
                itemID = $(this).attr("id");
                $("label[for="+itemID+"]").removeClass("highlight");
                });
            });
        });
</script>
{# END # HIGHLIGHTING ALL ACTIVE LABELS ################################### #}

{# ######################################################################## #}
{# VALIDATE ALL REQUIRED INPUTS  #}
<div class="fatErrorWrapper">
<div id="fatError" style=""></div>

{% if request.session.validation %}
<script>
    $(this).ready(function(){
        var thisform = $('form');
        window.log('validation is running...');
        var validator = thisform.validate({
            {# turn off debug to truly submit! #}
            debug: true,
            rules: {
                gender: "required",
                age: "required",
                },
            {# empty function places the usually obligatory error messages into nowhere #}
            errorPlacement: function(error, element) {},
            showErrors: function(errorMap, errorList) {
                var errors = validator.numberOfInvalids();
                $("#fatError").addClass("mainError");
                {% if LANG == "en" %}
                var errorText = "You have left "+errors+" questions unanswered!";
                {% elif LANG == "de" %}
                var errorText = "Du hast "+errors+" Fragen noch nicht beantwortet!";
                {% endif %}
                $("#fatError").text(errorText);
                if (!errors) {
                    window.log('hiding   ..  ');
                    $("#fatError").hide();
                };
            },
            errorClass: "invalid",
            {# debug only #}
            submitHandler: function(thisform) { 
                // do other stuff for a valid form
                thisform.submit();
            }
        });
    });
  </script>
{% endif %}
{# END # VALIDATE ALL REQUIRED INPUTS ##################################### #}

<!-- ################################################################# -->
{% endblock %}
