{% extends 'eyevacs/0preview1650.html' %}
{% load staticfiles %}
{% block body %}
{% load i18n %}    
{% get_current_language as LANG %}
<!-- ################################################################# -->

</br>
<p class="question_title">{% trans "Now let’s come to the main topic of this survey which is vacation packages. In the following a vacation package describes a hotel you choose for a summer holiday which already includes catering." %}</p>
{# Let’s come to vacation packages now: #}
<form action="{{ destination }}" method="post" name="pl_experience">
{% csrf_token %}
<div class="rg">
<table width="1200px" border="0" align="center" summary="layout table which contains all 4 radio groups including their questions.">
<tr>
<td valign="top">
    <p class="rg_question_text" >{% trans "When was the last time you booked a vacation package including a seaside hotel?" %}</p>

    <table class="rg_inner_container">
      <tr>
        <td class="rg_text_line_no_lite"><label for="lastvacation1" >
          <input type="radio" name="experience_lastvacation" id="lastvacation1" value="<12months"/>&nbsp;&nbsp;{% trans "Within the last 12 months" %}</label></td>
      </tr>
      <tr>
        <td class="rg_text_line_hi_lite"><label for="lastvacation2" >
          <input type="radio" name="experience_lastvacation" id="lastvacation2" value="12-36months"/>&nbsp;&nbsp;{% trans "Between the last 12 and 36 months" %}</label></td>
      </tr>
      <tr>
        <td class="rg_text_line_no_lite"><label for="lastvacation3" >
          <input type="radio" name="experience_lastvacation" id="lastvacation3" value="36+months"/>&nbsp;&nbsp;{% trans "Longer than 36 months ago" %}</label></td>
      </tr>
      <tr>
        <td class="rg_text_line_hi_lite"><label for="lastvacation4" >
          <input type="radio" name="experience_lastvacation" id="lastvacation4" value="never"/>&nbsp;&nbsp;{% trans "I never booked a vacation package before." %}</label></td>
      </tr>
    </table>
  
</td>
</td>
</tr>

<tr>
<td valign="top">
<p class="rg_question_text">{% trans "Are you planning to book a vacation package within the next 12 months?" %}</p>
    <table class="rg_inner_container">
      <tr>
        <td class="rg_text_line_no_lite"><label for="planning1" >
          <input type="radio" name="experience_planningvacation" id="planning1" value="yes"/>&nbsp;&nbsp;{% trans "Yes" %}</label></td>
      </tr>
      <tr>
        <td class="rg_text_line_hi_lite"><label for="planning2" >
          <input type="radio" name="experience_planningvacation" id="planning2" value="no"/>&nbsp;&nbsp;{% trans "No" %}</label></td>
      </tr>
    </table>
</td>
</tr>

<td valign="top">
<p class="rg_question_text">{% trans "When it comes to booking a vacation package, what would you say: How long do you search for information before you decide which vacation package to book?" %}</p>
    <table class="rg_inner_container">
      <tr>
        <td class="rg_text_line_no_lite"><label for="searchduration1" >
          <input type="radio" name="experience_searchduration" id="searchduration1" value="<1week" />&nbsp;&nbsp;{% trans "Less than one week" %}</label></td>
      </tr>
      <tr>
        <td class="rg_text_line_hi_lite"><label for="searchduration2" >
          <input type="radio" name="experience_searchduration" id="searchduration2" value="1-2weeks" />&nbsp;&nbsp;{% trans "Between one and two weeks" %}</label></td>
      </tr>
      <tr>
        <td class="rg_text_line_no_lite"><label for="searchduration3" >
          <input type="radio" name="experience_searchduration" id="searchduration3" value="2+weeks" />&nbsp;&nbsp;{% trans "More than two weeks" %}</label></td>
      </tr> 
    </table>
    </td>
    </tr>    
</table>
</div> 

<input name="pl_experience_button" type="submit" class="weiter" value={{bt_label}} />
</form>
{# ######################################################################## #}
<div class="debugtext"></div>

<script>
    $(this).ready(function(){
        {# both working #}
        $("input").change(function(){
        {# $("form").click(function(){ #}
            {# Highlight selected item #}
            var checkedRadio = $("input:checked");
            checkedRadio.each(function(i){
                itemID = $(this).attr("id");
                {# $(".debugtext").html(itemID); #}
                $("label[for="+itemID+"]").addClass("highlight");
                });
            {# revert others to default color  #}
            var unCheckedRadio = $("input:not(:checked)");
            unCheckedRadio.each(function(i){
                itemID = $(this).attr("id");
                $("label[for="+itemID+"]").removeClass("highlight");
                });
            });
        });
</script>
{# ######################################################################## #}
 
<div style="margin-left:auto; margin-right:auto;width:700px;">
<div id="fatError" style="" </div>
</div>

{% if validation %}
<script>
    $(this).ready(function(){
        var thisform = $('form');
        window.log('validation is running...');
        var validator = thisform.validate({
            {# turn off debug to truly submit! #}
            debug: true,
            rules: {
                experience_lastvacation: "required",
                experience_planningvacation: "required",
                experience_searchduration: "required",
                },
            {# empty function places the usually obligatory error messages into nowhere #}
            errorPlacement: function(error, element) {},
            showErrors: function(errorMap, errorList) {
                var errors = validator.numberOfInvalids();
                $("#fatError").addClass("mainError");
                {% if LANG == "en" %}
                var errorText = "You have left "+errors+" questions unanswered!";
                {% elif LANG == "de" %}
                var errorText = "Du hast "+errors+" Fragen noch nicht beantwortet!";
                {% endif %}
                $("#fatError").text(errorText);
                if (!errors) {
                    window.log('hiding   ..  ');
                    $("#fatError").hide();
                };
            },
            errorClass: "invalid",
            {# debug only #}
            submitHandler: function(thisform) { 
                // do other stuff for a valid form
                thisform.submit();
            }
        });
    });
  </script>
  {% endif %}
<!-- #### END VALIDATION ############################################# -->

<!-- ################################################################# -->
{% endblock %}
