{% extends 'eyevacs/0preview1650.html' %}
{%block body %}
    <div class="question_title">{{question_title }}</div>
    <br/>
<form action="{{destination}}" method="post" name="{{scale_name}}" id="{{scale_id}}">{% csrf_token %}
<table width="1400px" border="0" align="center" cellspacing="0">
  <!--HEADER and legend-->
  <tr >
    <td class="sc_table_question_spacer"></td>
    <td class="sc_table_spacer"></td>
    <td class="cell_white"><p class="sc_table_legend">-3</p></td>
    <td class="cell_grey"></td>
    <td class="cell_white"></td>
    <td class="cell_grey"></td>
    <td class="cell_white"></td>
    <td class="cell_grey"></td>
    <td class="cell_white"><p class="sc_table_legend">+3</p></td>
  </tr>
  <!--QUESTIONIONS-->
  {% for question in questions %}
  <tr>
    <td class="sc_question">{{question.text|linebreaksbr}}</td>
    <!--question_spacer--><td class="sc_table_spacer"></td>
    <td class="cell_white">
    <label>
        <input type="radio" name="{{ scale_name }}Q{{question.id}}" value="{{ scale_name }}-3" />
    </label></td>
    <td class="cell_grey">
    <label><input type="radio" name="{{ scale_name }}Q{{question.id}}" value="{{ scale_name }}-2" /></label></td>
    <td class="cell_white">
    <label><input type="radio" name="{{ scale_name }}Q{{question.id}}" value="{{ scale_name }}-1" /></label></td>
    <td class="cell_grey">
    <label><input type="radio" name="{{ scale_name }}Q{{question.id}}" value="{{ scale_name }}0" /></label></td>
    <td class="cell_white">
    <label><input type="radio" name="{{ scale_name }}Q{{question.id}}" value="{{ scale_name }}+1" /></label></td>
    <td class="cell_grey">
    <label><input type="radio" name="{{ scale_name }}Q{{question.id}}" value="{{ scale_name }}+2" /></label></td>
    <td class="cell_white">
        <label><input type="radio" name="{{ scale_name }}Q{{question.id}}" value="{{ scale_name }}+3" /></label></td>           {% endfor %}
  </tr>
</table>

<input name="{{name_scale_continue_button }}" type="submit" class="weiter" id="{{bt_continue_id}}" value="{{lb_button_continue}}" />
</form>
{% endblock %}
