{% extends 'eyevacs/table_base.html' %}
{% load staticfiles %}
{% load i18n %}    
{% get_current_language as LANG %}
{% block style %}

{% endblock %}
{% block body %}
{% if not alternative_title %}
    <div class="question_title">{% trans "If these hotels were your only options, which hotel would you buy for you and your friend with the money you got from your relative?" %}</div>
{% else %}
    <div class="question_title">{{ alternative_title|safe }}</div>
{% endif %}

     <form action="{{ destination }}" method="post" >

{% csrf_token %}

<table  >
  <tr class="tr_spacer">
  </tr>
  <tr>
    <td class="attr_spacer">{{ rc11 }}</td><td class="spacer"></td>
    {% if rc12 %}<td class="dctd option">{{ rc12 }}</td><td class="spacer"></td>      {% endif %}
    {% if rc13 %}<td class="dctd option">{{ rc13 }}</td><td class="spacer"></td>      {% endif %}
    {% if rc14 %}<td class="dctd option">{{ rc14 }}</td><td class="spacer"></td>      {% endif %}
    {% if rc15 %}<td class="dctd option">{{ rc15 }}</td><td class="spacer"></td>      {% endif %}
    {% if rc16 %}<td class="dctd option">{{ rc16 }}</td>{% endif %}
       </tr>                                                                                     
       <tr class="tr_spacer">                                                                    
       </tr>                                                                                     
       <tr>                                                                                      
    {% if rc21 %}<td class="dctd attr">{{ rc21 }}</td><td class="spacer"></td>        {% endif %}
    {% if rc22 %}<td class="dctd">{{ rc22 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc23 %}<td class="dctd">{{ rc23 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc24 %}<td class="dctd">{{ rc24 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc25 %}<td class="dctd">{{ rc25 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc26 %}<td class="dctd">{{ rc26 }}</td>{% endif %}
       </tr>                                                                                     
       <tr class="tr_spacer">                                                                    
       </tr>                                                                                     
       <tr>                                                                                      
    {% if rc31 %}<td class="dctd attr">{{ rc31 }}</td><td class="spacer"></td>        {% endif %}
    {% if rc32 %}<td class="dctd">{{ rc32 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc33 %}<td class="dctd">{{ rc33 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc34 %}<td class="dctd">{{ rc34 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc35 %}<td class="dctd">{{ rc35 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc36 %}<td class="dctd">{{ rc36 }}</td>{% endif %}
       </tr>                                                                                     
       <tr class="tr_spacer">                                                                    
       </tr>                                                                                     
       <tr>                                                                                      
    {% if rc41 %}<td class="dctd attr">{{ rc41 }}</td><td class="spacer"></td>        {% endif %}
    {% if rc42 %}<td class="dctd">{{ rc42 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc43 %}<td class="dctd">{{ rc43 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc44 %}<td class="dctd">{{ rc44 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc45 %}<td class="dctd">{{ rc45 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc46 %}<td class="dctd">{{ rc46 }}</td>{% endif %}
       </tr>                                                                                     
       <tr class="tr_spacer">                                                                    
       </tr>                                                                                     
       <tr>                                                                                      
    {% if rc51 %}<td class="dctd attr">{{ rc51 }}</td><td class="spacer"></td>        {% endif %}
    {% if rc52 %}<td class="dctd">{{ rc52 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc53 %}<td class="dctd">{{ rc53 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc54 %}<td class="dctd">{{ rc54 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc55 %}<td class="dctd">{{ rc55 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc56 %}<td class="dctd">{{ rc56 }}</td>{% endif %}
       </tr>                                                                                     
       <tr class="tr_spacer">                                                                    
       </tr>                                                                                     
       <tr>                                                                                      
    {% if rc61 %}<td class="dctd attr">{{ rc61 }}</td><td class="spacer"></td>        {% endif %}
    {% if rc62 %}<td class="dctd">{{ rc62 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc63 %}<td class="dctd">{{ rc63 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc64 %}<td class="dctd">{{ rc64 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc65 %}<td class="dctd">{{ rc65 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc66 %}<td class="dctd">{{ rc66 }}</td>{% endif %}
       </tr>                                                                                     
       <tr class="tr_spacer">                                                                    
       </tr>                                                                                     
       <tr>                                                                                      
    {% if rc71 %}<td class="dctd attr">{{ rc71 }}</td><td class="spacer"></td>        {% endif %}
    {% if rc72 %}<td class="dctd">{{ rc72 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc73 %}<td class="dctd">{{ rc73 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc74 %}<td class="dctd">{{ rc74 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc75 %}<td class="dctd">{{ rc75 }}</td><td class="spacer"></td>             {% endif %}
    {% if rc76 %}<td class="dctd">{{ rc76 }}</td>{% endif %}
      </tr>
      <tr class="tr_spacer">
      </tr>
      <tr>
    <!-- buy buttons -->
    {# IE button hack #}
    {# Explanation: 1st button has to be a dummy button. #}
    {#     Will be immediately hidden, after the page is loaded. #}
    {#     Hiding disables "onEnter" as well, next page cannot be skipped, tried it. #}
    <input type="submit"  id="ie_hack_button" name="hack_button" value="">
    <script>
        $(this).ready(function(){
                $("#ie_hack_button").hide();
            });
    </script>
    
    <td class="attr_spacer" >{{ rc81 }}</td><td class="spacer"></td>
    {% if rc82 %}
        <td><input type="submit" class="buy_button" name="{{ rc82 }}" value="{% trans "Buy!" %}" ></td><td class="spacer"></td>
    {% endif %}
    {% if rc83 %}
    <td><input type="submit" class="buy_button" name="{{ rc83 }}" value="{% trans "Buy!" %}" ></td><td class="spacer"></td>
    {% endif %}
    {% if rc84 %}
    <td><input type="submit" class="buy_button" name="{{ rc84 }}" value="{% trans "Buy!" %}" ></td><td class="spacer"></td>
    {% endif %}
    {% if rc85 %}
    <td><input type="submit" class="buy_button" name="{{ rc85 }}" value="{% trans "Buy!" %}" ></td><td class="spacer"></td>
    {% endif %}
    {% if rc86 %}
    <td><input type="submit" class="buy_button" name="{{ rc86 }}" value="{% trans "Buy!" %}" ></td>
    {% endif %}
  </tr>
  
</table>

{# 2 optionen zur auswahl eines angebots: #}
{# 1. 'buchen! button' (meine preference) #}
{# 2. javascript on click auf jede einzelne zelle... radio button der signalisiert oder gleich die farbe der ganzen row aendern. #}
{#  #}
{# kann bei 1. ein 'hover' einbauen, column wechselt farbe #}

</form>

{% endblock %}
