{% extends 'eyevacs/0preview1650.html' %}
{% load staticfiles %}
{% block body %}
{% load i18n %}    
{% get_current_language as LANG %}
<!-- ################################################################# -->
<p class="question_title">{% trans "Please click on the hotel you would recommend to your friend." %}</p>
<br/>

<form action="{{ destination }}" method="post" name="transit_select" >
{% csrf_token %}
<div class="transit">
   
        <table class="transittable"  >
          <tr>
            <td class="transitselect" ><label for="hotel1" ><img src="{% static "img/1.jpg" %}"  ><br/>
              <input type="radio" name="transit" id="hotel1" value="h1"/>{% trans "The Langham" %}</label></td>
            <td class="transitselect"><label for="hotel2" ><img src="{% static "img/2.jpg" %}"  ><br/>
              <input type="radio" name="transit" id="hotel2" value="h2"/>{% trans "Grand Mercure" %}</label></td>
            <td class="transitselect"><label for="hotel3" ><img src="{% static "img/3.jpg" %}"  ><br/>
              <input type="radio" name="transit" id="hotel3" value="h3"/>{% trans "Quay West Suites" %}</label></td>
          </tr>
          <tr>
            <td class="transitselect"><label for="hotel4" ><img src="{% static "img/4.jpg" %}"  ><br/>
              <input type="radio" name="transit" id="hotel4" value="h4"/>{% trans "Art Series - The Olson" %}</label></td>
            <td class="transitselect"><label for="hotel5" ><img src="{% static "img/5.jpg" %}"  ><br/>
              <input type="radio" name="transit" id="hotel5" value="h5"/>{% trans "Grand Hyatt" %}</label></td>
            <td class="transitselect"><label for="hotel6" ><img src="{% static "img/6.jpg" %}"  ><br/>
              <input type="radio" name="transit" id="hotel6" value="h6"/>{% trans "Park Hyatt" %}</label></td>
          </tr>
        </table>
</div> 

<input type="submit" class="weiter" value="{{bt_label}}" />
</form>

{# ######################################################################## #}
{# HIGHLIGHTING ALL ACTIVE LABELS #}
<div class="debugtext"></div>
<script>
    $(this).ready(function(){
        window.log('clicker ready');
        $("input").change(function(){
            {# Highlight selected item #}
            var checkedRadio = $("input:checked");
            checkedRadio.each(function(i){
                window.log('click!');
                itemID = $(this).attr("id");
                {# $(".debugtext").html(itemID); #}
                $("label[for="+itemID+"]").addClass("highlight");
                });
            {# revert others to default color  #}
            var unCheckedRadio = $("input:not(:checked)");
            unCheckedRadio.each(function(i){
                itemID = $(this).attr("id");
                $("label[for="+itemID+"]").removeClass("highlight");
                });
            });
        });
</script>
{# END # HIGHLIGHTING ALL ACTIVE LABELS ################################### #}

{# ######################################################################## #}
{# VALIDATE ALL REQUIRED INPUTS  #}
<div style="margin-left:auto; margin-right:auto;width:700px;">
<div id="fatError" style=""></div>

{% if request.session.validation %}
<script>
    $(this).ready(function(){
        var thisform = $('form');
        window.log('validation is running...');
        var validator = thisform.validate({
            {# turn off debug to truly submit! #}
            debug: true,
            rules: {
                transit: "required",
                },
            {# empty function places the usually obligatory error messages into nowhere #}
            errorPlacement: function(error, element) {},
            showErrors: function(errorMap, errorList) {
                var errors = validator.numberOfInvalids();
                $("#fatError").addClass("mainError");
                {% if LANG == "en" %}
                var errorText = "You have left "+errors+" questions unanswered!";
                {% elif LANG == "de" %}
                var errorText = "Du hast "+errors+" Fragen noch nicht beantwortet!";
                {% endif %}
                $("#fatError").text(errorText);
                if (!errors) {
                    window.log('hiding   ..  ');
                    $("#fatError").hide();
                };
            },
            errorClass: "invalid",
            {# debug only #}
            submitHandler: function(thisform) { 
                // do other stuff for a valid form
                thisform.submit();
            }
        });
    });
  </script>
{% endif %}
{# END # VALIDATE ALL REQUIRED INPUTS ##################################### #}

{% endblock %}
