{% extends 'eyevacs/0preview1650.html' %}
{% load staticfiles %}
{% block body %}
{% load i18n %}    
<!-- ################################################################# -->

<p class="question_title">Please click on the hotel you would recommend to your friend.</p>
<br/>

<form action="{{ destination }}" method="post" name="transit_select" >
{% csrf_token %}
<div class="transit">
   
        <table class="transittable"  >
          <tr>
            <td class="transitselect" ><label for="hotel1" ><img src="{% static "img/1.jpg" %}"  ><br/>
              <input type="radio" name="transit" id="hotel1" value="h1"/>
            The Langham</label></td>
            <td class="transitselect"><label for="hotel2" ><img src="{% static "img/2.jpg" %}"  ><br/>
              <input type="radio" name="transit" id="hotel2" value="h2"/>
              Grand Mercure</label></td>
            <td class="transitselect"><label for="hotel3" ><img src="{% static "img/3.jpg" %}"  ><br/>
              <input type="radio" name="transit" id="hotel3" value="h3"/>
              Quay West Suites</label></td>
          </tr>
          <tr>
            <td class="transitselect"><label for="hotel4" ><img src="{% static "img/4.jpg" %}"  ><br/>
              <input type="radio" name="transit" id="hotel4" value="h4"/>
            Art Series - The Olson</label></td>
            <td class="transitselect"><label for="hotel5" ><img src="{% static "img/5.jpg" %}"  ><br/>
              <input type="radio" name="transit" id="hotel5" value="h5"/>
              Grand Hyatt</label></td>
            <td class="transitselect"><label for="hotel6" ><img src="{% static "img/6.jpg" %}"  ><br/>
              <input type="radio" name="transit" id="hotel6" value="h6"/>
              Park Hyatt</label></td>
          </tr>
        </table>
</div> 

<input type="submit" class="weiter" value="{{bt_label}}" />
</form>

{# ######################################################################## #}
<div class="debugtext"></div>

<script>
    $(this).ready(function(){
        {# both working #}
        {# $("input").change(function(){ #}
        $("form").click(function(){
            {# Highlight selected item #}
            var checkedRadio = $("input:checked").attr("id");
            {# $(".debugtext").html(checkedRadio); #}
            $("label[for="+checkedRadio+"]").addClass("highlight");
            {# $("label[for="+checkedRadio+"]").css("background","#ff0"); #}
            {# revert others to default color  #}
            {# $(".debugtext").html('nuttin going on'); #}
            var unCheckedRadio = $("input:not(:checked)");
            unCheckedRadio.each(function(i){
                itemID = $(this).attr("id");
                $("label[for="+itemID+"]").removeClass("highlight");
                {# $("label[for="+itemID+"]").css("background","#888"); #}
                });
            });
        });
</script>
{# ######################################################################## #}
{% if DEBUG %} <div id="allErrors"></div> {% endif %}
<br/>
<br/>
<div style="margin-left:auto; margin-right:auto;width:500px;">
<div id="errorField" style="display:none" ></div>
</div>
<br/>
<br/>
{# <div id="errCont">You have missed out at least 1 Question!</div> #}
{% if validation %}
<script>
    $(this).ready(function(){
        var thisform = $('form[name="pl_experience"]');
        console.log('validation is running...');
        var validator = thisform.validate({
            {# turn off debug to truly submit! #}
            debug: true,
            rules: {
                transit: "required",
                },
            invalidHandler: function(pl_experience, validator) {
                var errors = validator.numberOfInvalids();
                console.log('errors:', errors)
                if (errors) {
                  var message = errors == 1
                  ? 'Missing'
                  : 'Missed ' + errors + ' fields.';
                $("#errorField").text('You have left ' + errors + ' questions unanswered!');
                {# $("div.arr span").text(message); #}
                $("#errorField").show();
                  } else {
                $("#errorField").hide();
                  }
              },
            messages: {
                transit: "You did not select a hotel, yet!",
            },
                errorClass: "invalid",
            {# error destination id #}
            errorLabelContainer: "#allErrors",
            errorContainer: "#errorField",            
            {# wraps EVERY error inside wrapper: #}
            wrapper: "ul", 
            errorElement: "em",
            {# debug only #}
            submitHandler: function() { 
                {# alert("Submitted!")  #}
                // do other stuff for a valid form
                pl_experience.submit();
            }
        });
    });
  </script>
  {% endif %}
<!-- ################################################################# -->
{% endblock %}
