@charset "utf-8";
.big_header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #000;
	text-align: center;
	width: 100%;
	margin: 0px auto;
	clear: both;
}
.general_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #000;
	text-align: center;
	width: 1200px;
	margin: 0px auto;
}
.question_title{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: normal;
	color: #000;
	text-align: left;
	padding: 45px;
	padding-left:70px;
	padding-right:70px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.general_text_left {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	font-weight: normal;
	color: #000;
	/*	position: absolute;
*/	text-align: left;
	margin: 0px auto;
	text-indent: 30px;
}

.spacer {
}
.rg_question_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #000;
	text-align: left;
	width: 600px;
	position: relative;
	padding-right: 20px;
	padding-left: 30px;
	padding-top: 50px;
	padding-bottom: 10px;
	top: 0px;
	margin: 0px;
}
.sc_question{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #000;
	text-align: left;
	position: relative;
	padding-right: 20px;
	padding-left: 30px;
	padding-top: 50px;
	top: 0px;
	margin: 0px;
}

.sc_table_legend {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	color: #555;
}


.dark1 {
	background:#ccc;	
}
.dark2 {
	background:#ddd;	
}

.table_attribute {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;	
	vertical-align:middle;
	text-align: center;
	width:250px;
	height: 40px;
}

.table_level {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	vertical-align:middle;
	padding-left:20px;
	text-align: left;
	width:600px;
	height: 40px;
}

#errorField{
    /* crucial for centered bottom abs positioning   */
    bottom: 100px;
    width: 500px;
  	margin-right: auto;
	margin-left: auto;
    position:absolute;
    /* non crucial */
    font-family:"Droid Sans Mono", Courier, monospace;
    background:#eee;
	text-align: center;
	font-size: 28px;
    color:#e22;
    
}
.invalid{
    font-family:"Droid Sans Mono", Courier, monospace;
	/* text-align: center; */
	font-size: 16px;
    color:#eaa;
}
